 .u-section-1 {
  background-image: url("images/image-young-ceo-manager-korean-working-woman-holding-tablet-smiling-standing-white-background.jpg");
  background-position: 70.3% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 698px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 18px 598px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 210px;
  margin-bottom: 60px;
  min-height: 201px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 102px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 7px 101px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: -56px auto 0 188px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 102px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 13px auto 0 188px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -47px 90px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-3 {
  width: 50px;
  height: 50px;
  margin: 12px 0 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -46px 51px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 102px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-4 {
  width: 50px;
  height: 50px;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -47px 82px 0 1px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 105px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-5 {
  width: 50px;
  height: 50px;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -47px 51px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 105px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-6 {
  width: 50px;
  height: 50px;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -47px 51px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 105px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-7 {
  width: 50px;
  height: 50px;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -47px 51px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 398px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 259px;
    min-height: 74px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: -102px 12px 8px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 145px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin: -102px 1px 8px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 146px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -100px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 147px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin: -102px 1px 8px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 147px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin: -122px 1px -12px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 147px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin: -102px 1px 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 285px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 285px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 99px;
    margin-bottom: 40px;
    min-height: 174px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 131px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-bottom: -10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 131px;
  }

  .u-section-1 .u-text-4 {
    margin: -81px 0 29px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 131px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 131px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -81px;
    margin-bottom: 29px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 194px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -132px;
    margin-bottom: -12px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 194px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -132px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 194px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 35.51% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 171px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: -6px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -35px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -35px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -35px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -35px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -35px;
    margin-right: 57px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -46px;
    margin-right: 57px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: -11px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -35px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -180px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-right: 80px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -46px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 50px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -46px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-6 {
    margin-bottom: 14px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -46px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -56px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -46px;
    margin-right: 50px;
    margin-left: 0;
  }
}