@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body{
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, p , span , a {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3 {    
    font-weight: bold;
}
*:focus {
    outline: none;
}
a:hover {
    transition: all ease 0.5s;
}
a {
    text-decoration: none;
    color: #085aa6;
}
.city-u-theme{
	color: #ed1c24;
}
.top_hdr {
    background-color: #E20A17;
}
.logo_a {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 220px;
}

.logo_a img {
    max-width: 100%;
}

/*section 1 */
.layer-1 {
    background-image: url("../img/layer1-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 10% 0;
}
.thankyou {
    background-image: url("../img/layer1-bg_old.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 10% 0;
}
.layer1-form {
    background: #fff;
    border-radius: 10px;
    padding: 40px 15px;
}

.layer1-form-title {
    padding-bottom: 20px;
}
.layer1-usp {
    background-color: #e21c24;
    width: 260px;
    padding: 10px;
    color: #fff;
	display: inline-table;
}
.layer1-usp2 {
    background-color: #e21c24;
    display: inline-table;
    transform: skew(-17deg);
    width: 20px;
    margin-left: -14px;
    height: 68px;
    padding: 10px;
}
.btn-city-u-theme {
    background: #e21c24;
    border: #e21c24 solid;
    padding: 5px 5%;
    max-width: 100%;
}
.layer1-title {
    padding-top: 20%;
    width: 60%;
}

.layer1-separator {
    width: 55%;
    text-align: left;
    border: 3px solid #e21c24;
    display: block;
    margin: 20px 0;
}

.layer1-desription {
    display: block;
}

/* section 2 */
.layer-2-img1 {
    width: 75px;
    vertical-align: middle;
}
.layer-2-img2{
	max-width: 75%
}
.icon-bg {
    background-color: #e21c24;
    max-width: 100%;
    border-radius: 10px;
    margin: 10px;
	height: 245px;
	display: grid;
}

.icon-bg img {
    max-width: 100%;
    width: 100px;
    margin: 0 auto;
    display: block;
	padding: 10px;
}
.icon-bg p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.layer-3 {
    background-image: url(../img/layer-3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40% 0;
}
.layer-7 {
    background-image: url("../img/layer-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0 5%;
}
.layer-8 {
    background-image: url("../img/layer-6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20% 0 20%;/*5% 0 5%;*/
}
.layer-8-usps {
    background-color: #e21c24;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    list-style: decimal;
}
.layer-8-usps p {
    display: table;
    font-size: 22px;
    max-width: 35%;
    width: 33%;
}
.layer-8-usps p::after {
    content: "";
    background: #fff;
    position: absolute;
    bottom: 14%;
    width: 5px;
    height: 20%;
}
.layer-8-usps p:last-child:after{
	content: none;
}
.layer-8-usps p span:last-child {
    font-size: 18px;
    line-height: 20px;
    padding-left: 0;
}
.layer-8-usps p span {
    display: table-cell;
    font-size: 5rem;
    vertical-align: middle;
    padding-right: 15px;
	padding-left: 20px;
}
.layer-8-tnp{
	display: block;
    padding-top: 5px;
    text-align: right;
}
.layer3-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.layer3-desription {
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
}
.utm-img {
    width: 30%;
    display: block;
    margin: 0 auto 25px;
}
.layer-7 h2 {
    font-size: 1.3rem;
}

.layer-7 p {
    font-size: 0.9rem;
}
.layer3-cta {
    display: block;
    background-color: #e21c24;
    width: 210px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.layer3-small {
    text-align: center;
    display: block;
    margin-top: 100px;
}
.layer-6 {
    background-color: #e21c24;
	padding-top: 75px;
    padding-bottom: 75px;
}

.layer-6 .city-u-theme {
    color: #fff;
}
.layer-6 .icon-bg {
    background-color: #fff;
	margin: 5px;
    max-width: 315px;
}
.layer-6 .icon-bg p {
    color: #e21c24;
    font-size: 18px;
    padding-top: 30px;
}
.layer-6 .icon-bg ul li {
    font-size: 15px;
}
.layer-2 {
    padding-top: 75px;
	padding-left: 15px;
    padding-right: 15px;
}

.layer-2-elem-1 {
    border: 2px solid #e21c24;
    padding: 15px 15px 15px 75px;
    border-radius: 10px 10px 0 0;
    text-align: left;
}
.layer-2-elem-last {
    border-top: none;
	border-bottom: 2px solid #e21c24;
	border-right: 2px solid #e21c24;
	border-left: 2px solid #e21c24;
    padding: 15px 15px 15px 75px;
    border-radius:  0 0 10px 10px;
    text-align: left;
}

.layer-2-elem {
    border-top: none;
	border-bottom: 2px solid #e21c24;
	border-right: 2px solid #e21c24;
	border-left: 2px solid #e21c24;
    padding: 15px 15px 15px 75px;
    text-align: left;
}

.first-elem {
    font-size: 28px;
    vertical-align: middle;
    margin-bottom: 0;
}

.first-elem strong {
    vertical-align: middle;
}
.first-elem i {
    float: right;
    display: inline-block;
    vertical-align: middle;
}
.table-custom {
    width: 75%;
    border: 1px solid #e31c24;
}
.table-custom2 {
    width: 80%;
    text-align: left;
}
.bg-custom{
    background-color: #e21c24 !important;
	color: #fff;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #e21c24;
}
.layer-3,
.layer-4,
.layer-5 {
    padding-top: 75px;
}

.heading-center{
    text-align: center;
	margin-bottom: 30px;
}
.heading-center::after {
    content: '';
    width: 64px;
    height: 3px;
    background: #e21c24;
    position: absolute;
    bottom: -25px;
    right: 47.75%;
}
.img-responsive {
    margin: 0 auto;
    display: block;
	max-width: 100%;
}
.layer-5-desc{
	max-width: 90%;
	text-align: center;
	margin: 0 auto;
}

.address-section {
    background: #e21c24;
    color: #fff;
    padding: 50px 20px 50px 20px;
}
.table-borderless td, .table-borderless th {
    border: none;
}

.footer-img {
    float: left;
    max-width: 50%;
}
.flexslider ul li img {
    max-width: 100%;
}
.slider-section {
    background: #e21c24;
	margin-top: 25px;
    padding-top: 25px;
}
.flexslider {
    background: #e21c24;
    border: 4px solid #e21c24;
}
@media screen and (max-width: 1024px) {
    .layer-1 {
		background-image: url("../img/layer1-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center left;
		padding: 10% 0;
	}
}
@media screen and (max-width: 425px) {
	.layer-3 {
		background-image: url(../img/layer-3-m.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 40% 0;
	}
}