 .u-section-1 {
  background-image: url("images/thank-you1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 495px auto 60px -28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 376px;
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 301px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 249px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 169px;
    margin-bottom: 0;
    padding: 4px 12px 5px 11px;
  }
}