.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 544px;
  margin: 10px 243px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 2.625rem;
  font-weight: 700;
  margin: -442px 722px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 10px 783px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 522px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 733px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 302px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 623px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 516px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 259px;
    margin-right: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -450px;
    margin-right: 533px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 325px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 2645px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2640px;
    margin-right: 433px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 622px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  width: 300px;
  margin: 37px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 298px;
  height: 9px;
  margin: 2px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 0.875rem;
  width: 439px;
  margin: 12px auto 0;
}

.u-section-2 .u-image-1 {
  width: 427px;
  height: 155px;
  margin: 204px auto 0 701px;
}

.u-section-2 .u-image-2 {
  width: 427px;
  height: 155px;
  margin: -154px auto 0 370px;
}

.u-section-2 .u-image-3 {
  width: 427px;
  height: 155px;
  margin: -309px auto 0 701px;
}

.u-section-2 .u-image-4 {
  width: 427px;
  height: 155px;
  margin: -155px auto 0 364px;
}

.u-section-2 .u-image-5 {
  width: 98px;
  height: 98px;
  margin: -126px auto 0 432px;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.125rem;
  margin: -88px 421px 0 532px;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1.125rem;
  margin: -7px 372px 0 532px;
}

.u-section-2 .u-image-6 {
  width: 428px;
  height: 156px;
  margin: -107px auto 0 12px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.8125rem;
  margin: -112px 977px 0 64px;
}

.u-section-2 .u-text-6 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1rem;
  margin: -56px 751px 0 169px;
}

.u-section-2 .u-text-7 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.125rem;
  margin: -59px 215px 0 863px;
}

.u-section-2 .u-image-7 {
  width: 98px;
  height: 98px;
  margin: -70px auto 0 772px;
}

.u-section-2 .u-text-8 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1.125rem;
  margin: -34px 64px 0 865px;
}

.u-section-2 .u-image-8 {
  width: 98px;
  height: 98px;
  margin: 75px auto 0 434px;
}

.u-section-2 .u-image-9 {
  width: 98px;
  height: 98px;
  margin: -94px auto 0 775px;
}

.u-section-2 .u-text-9 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.125rem;
  margin: -93px 439px 0 532px;
}

.u-section-2 .u-text-10 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1.125rem;
  margin: -7px 398px 0 532px;
}

.u-section-2 .u-text-11 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.125rem;
  margin: -73px 106px 0 865px;
}

.u-section-2 .u-text-12 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1.125rem;
  margin: -8px 64px 0 865px;
}

.u-section-2 .u-image-10 {
  width: 427px;
  height: 155px;
  margin: -104px auto 0 12px;
}

.u-section-2 .u-text-13 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.8125rem;
  margin: -110px 971px 0 58px;
}

.u-section-2 .u-text-14 {
  font-family: Poppins;
  line-height: 1.24;
  font-size: 1rem;
  margin: -65px 751px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 833px;
    margin-left: 513px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -155px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -354px;
    margin-left: 513px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -269px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -392px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 321px;
    margin-left: 432px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 272px;
    margin-left: 432px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 118px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -113px;
    margin-right: 841px;
    margin-left: 130px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 651px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -454px;
    margin-right: 115px;
    margin-left: 763px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -122px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 729px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -297px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -18px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 504px;
    margin-right: 339px;
    margin-left: 432px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 297px;
    margin-left: 432px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 6px;
    margin-left: 765px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 765px;
  }

  .u-section-2 .u-image-10 {
    margin-top: -51px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 829px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 651px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 837px;
    margin-left: 293px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 293px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 293px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -273px;
    margin-left: 293px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -84px;
    margin-right: 101px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 52px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 621px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 500px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 5px;
    margin-left: 653px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -126px;
    margin-left: 622px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 28px;
    margin-left: 509px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -325px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 10px;
    margin-left: 622px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 229px;
    margin-left: 322px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 187px;
    margin-left: 322px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 551px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 551px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 609px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 500px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 831px;
    margin-left: 113px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 113px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 113px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -267px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 90px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 441px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 320px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -426px;
    margin-right: 0;
    margin-left: 478px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -148px;
    margin-left: 442px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 50px;
    margin-left: 329px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -409px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 66px;
    margin-left: 442px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 139px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 97px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 371px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 371px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 429px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 123px;
    margin-top: 548px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 123px;
    margin-top: -123px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 123px;
    margin-top: -322px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 123px;
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-left: 242px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 242px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 242px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 124px;
    margin-top: -270px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -81px;
    margin-right: 241px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 120px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -66px;
    margin-left: 278px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -224px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 126px;
    margin-left: 129px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -377px;
    margin-left: 242px;
  }

  .u-section-2 .u-image-9 {
    margin-top: -326px;
    margin-left: 242px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 39px;
    margin-left: 132px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 132px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 171px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 171px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 123px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-top: -78px;
    margin-right: 229px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 120px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 428px;
}

.u-section-3 .u-image-1 {
  width: 221px;
  height: 182px;
  margin: 60px auto 0 919px;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-weight: 500;
  margin: -4px auto 0 935px;
}

.u-section-3 .u-image-2 {
  width: 179px;
  height: 180px;
  margin: -203px auto 0 272px;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-weight: 500;
  margin: -2px auto 0 272px;
}

.u-section-3 .u-text-3 {
  font-family: Poppins;
  font-size: 0.625rem;
  margin: 0 689px 0 272px;
}

.u-section-3 .u-image-3 {
  width: 204px;
  height: 168px;
  margin: -258px auto 0 678px;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  font-weight: 500;
  margin: -1px auto 0 708px;
}

.u-section-3 .u-image-4 {
  width: 217px;
  height: 170px;
  margin: -203px auto 0 475px;
}

.u-section-3 .u-text-5 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -136px auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 185px;
  height: 9px;
  margin: 11px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-family: Poppins;
  font-size: 1rem;
  margin: 16px 919px 0 0;
}

.u-section-3 .u-text-7 {
  font-family: Poppins;
  font-weight: 500;
  margin: -12px auto 0;
}

.u-section-3 .u-text-8 {
  font-family: Poppins;
  font-size: 0.625rem;
  margin: 1px 17px 0 935px;
}

.u-section-3 .u-text-9 {
  font-family: Poppins;
  font-size: 0.625rem;
  margin: -64px 455px 0 495px;
}

.u-section-3 .u-text-10 {
  font-family: Poppins;
  font-size: 0.625rem;
  margin: -64px 242px 60px 706px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 719px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 771px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 444px;
    margin-left: 307px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 584px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 719px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 771px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 370px;
    margin-left: 380px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 8px;
    margin-left: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 499px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 591px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 208px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 296px;
    margin-left: 235px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 516px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 447px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 499px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 591px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 160px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 32px;
    margin-left: 568px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 319px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 443px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 175px;
    margin-left: 176px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 336px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 335px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 323px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 319px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 443px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 340px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
    margin-left: 426px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: 119px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 279px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 161px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 98px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 40px;
    margin-left: 111px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 136px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 111px;
    margin-left: 211px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 123px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 119px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 279px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 140px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 268px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 2.125rem;
  width: 355px;
  margin: 80px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 185px;
  height: 9px;
  margin: 14px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  width: 613px;
  margin: 8px auto 0;
}

.u-section-4 .u-text-3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.4375rem;
  width: 194px;
  margin: 73px auto 0;
}

.u-section-4 .u-image-1 {
  width: 257px;
  height: 110px;
  margin: 38px auto 0 576px;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.75rem;
  margin: -74px 338px 0 601px;
}

.u-section-4 .u-image-2 {
  width: 257px;
  height: 111px;
  margin: -73px auto 0 307px;
}

.u-section-4 .u-text-5 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.75rem;
  margin: -75px 635px 0 338px;
}

.u-section-4 .u-image-3 {
  width: 257px;
  height: 110px;
  margin: -74px auto 0 36px;
}

.u-section-4 .u-text-6 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 600;
  margin: -77px 930px 0 62px;
}

.u-section-4 .u-image-4 {
  width: 257px;
  height: 110px;
  margin: -71px auto 0 841px;
}

.u-section-4 .u-text-7 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.36;
  margin: -80px 130px 0 875px;
}

.u-section-4 .u-image-5 {
  width: 257px;
  height: 110px;
  margin: 42px auto 0 847px;
}

.u-section-4 .u-text-8 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 600;
  margin: -81px 111px 0 875px;
}

.u-section-4 .u-image-6 {
  width: 257px;
  height: 110px;
  margin: -87px auto 0 576px;
}

.u-section-4 .u-text-9 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 600;
  margin: -81px 328px 0 605px;
}

.u-section-4 .u-image-7 {
  width: 257px;
  height: 109px;
  margin: -84px auto 0 36px;
}

.u-section-4 .u-text-10 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 600;
  margin: -80px 944px 0 69px;
}

.u-section-4 .u-image-8 {
  width: 257px;
  height: 109px;
  margin: -86px auto 0 307px;
}

.u-section-4 .u-text-11 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 600;
  margin: -74px 675px 0 338px;
}

.u-section-4 .u-text-12 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.4375rem;
  width: 165px;
  margin: 104px auto 0;
}

.u-section-4 .u-image-9 {
  width: 286px;
  height: 123px;
  margin: 137px auto 0;
}

.u-section-4 .u-text-13 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -85px 539px 0 463px;
}

.u-section-4 .u-image-10 {
  width: 286px;
  height: 123px;
  margin: -206px auto 0;
}

.u-section-4 .u-text-14 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -84px 525px 0 459px;
}

.u-section-4 .u-image-11 {
  width: 286px;
  height: 123px;
  margin: 42px 36px 0 auto;
}

.u-section-4 .u-text-15 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -87px 156px 0 861px;
}

.u-section-4 .u-image-12 {
  width: 286px;
  height: 123px;
  margin: -200px 36px 0 auto;
}

.u-section-4 .u-text-16 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -80px 132px 0 863px;
}

.u-section-4 .u-image-13 {
  width: 286px;
  height: 123px;
  margin: -65px 804px 0 auto;
}

.u-section-4 .u-text-17 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -81px 918px 0 83px;
}

.u-section-4 .u-image-14 {
  width: 286px;
  height: 123px;
  margin: 33px 804px 0 auto;
}

.u-section-4 .u-text-18 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.43;
  margin: -88px 866px 0 80px;
}

.u-section-4 .u-image-15 {
  width: 286px;
  height: 123px;
  margin: 35px auto 0 50px;
}

.u-section-4 .u-text-19 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -72px 921px 0 80px;
}

.u-section-4 .u-image-16 {
  width: 286px;
  height: 123px;
  margin: -73px auto 0;
}

.u-section-4 .u-text-20 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -95px 506px 0 459px;
}

.u-section-4 .u-image-17 {
  width: 286px;
  height: 123px;
  margin: -95px 36px 0 auto;
}

.u-section-4 .u-text-21 {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -85px 123px 60px 854px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-3 {
    margin-top: 34px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 61px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 238px;
    margin-left: 501px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -119px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -101px;
    margin-right: 535px;
    margin-left: 296px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -38px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 792px;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    margin-top: -109px;
    margin-left: 683px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -65px;
    margin-right: 30px;
    margin-left: 775px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 62px;
    margin-left: 683px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -88px;
    margin-right: 11px;
    margin-left: 775px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -80px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 228px;
    margin-left: 505px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -72px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 813px;
    margin-left: 0;
  }

  .u-section-4 .u-image-8 {
    margin-top: -87px;
    margin-left: 207px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -73px;
    margin-right: 575px;
    margin-left: 238px;
  }

  .u-section-4 .u-text-12 {
    width: 194px;
    margin-top: -238px;
  }

  .u-section-4 .u-image-9 {
    margin-top: 155px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -30px;
    margin-right: 439px;
    margin-left: 363px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -307px;
  }

  .u-section-4 .u-text-14 {
    margin-top: -17px;
    margin-right: 425px;
    margin-left: 359px;
  }

  .u-section-4 .u-image-11 {
    margin-top: 31px;
  }

  .u-section-4 .u-text-15 {
    margin-top: -75px;
    margin-right: 56px;
    margin-left: 761px;
  }

  .u-section-4 .u-image-12 {
    margin-top: -261px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -36px;
    margin-right: 32px;
    margin-left: 763px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -98px;
    margin-right: 654px;
  }

  .u-section-4 .u-text-17 {
    margin-top: -261px;
    margin-right: 801px;
    margin-left: 0;
  }

  .u-section-4 .u-image-14 {
    margin-top: 223px;
    margin-right: 654px;
  }

  .u-section-4 .u-text-18 {
    margin-top: -177px;
    margin-right: 746px;
    margin-left: 0;
  }

  .u-section-4 .u-image-15 {
    margin-top: 128px;
  }

  .u-section-4 .u-text-19 {
    margin-top: -182px;
    margin-right: 801px;
    margin-left: 0;
  }

  .u-section-4 .u-image-16 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 406px;
    margin-left: 359px;
  }

  .u-section-4 .u-image-17 {
    margin-top: -73px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 23px;
    margin-left: 754px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-top: 14px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 463px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 128px;
    margin-left: 391px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -100px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 425px;
    margin-left: 227px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -76px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 572px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -70px;
    margin-left: 463px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -104px;
    margin-right: 0;
    margin-left: 585px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 463px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 566px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 463px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 118px;
    margin-left: 395px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 593px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -86px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 465px;
    margin-left: 128px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 329px;
    margin-left: 253px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 315px;
    margin-left: 249px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 0;
    margin-left: 597px;
  }

  .u-section-4 .u-text-16 {
    margin-right: 0;
    margin-left: 575px;
  }

  .u-section-4 .u-image-13 {
    margin-right: 434px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 581px;
  }

  .u-section-4 .u-image-14 {
    margin-right: 434px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 526px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 581px;
  }

  .u-section-4 .u-image-16 {
    margin-top: -17px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 296px;
    margin-left: 249px;
  }

  .u-section-4 .u-image-17 {
    margin-top: -50px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 0;
    margin-left: 557px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 54px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    margin-left: 283px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 38px;
    margin-left: 301px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -138px;
    margin-left: 283px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 335px;
    margin-left: 170px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -134px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 392px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -12px;
    margin-left: 283px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -161px;
    margin-left: 405px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 283px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 386px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 283px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 28px;
    margin-left: 305px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 413px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -87px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 375px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 239px;
    margin-left: 163px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 225px;
    margin-left: 159px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 417px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 395px;
  }

  .u-section-4 .u-image-13 {
    margin-right: 254px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 401px;
  }

  .u-section-4 .u-image-14 {
    margin-right: 254px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 346px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 401px;
  }

  .u-section-4 .u-image-16 {
    margin-top: -532px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 206px;
    margin-left: 159px;
  }

  .u-section-4 .u-image-17 {
    margin-top: 465px;
  }

  .u-section-4 .u-text-21 {
    margin-left: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -4px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 61px;
    margin-left: 83px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 139px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -80px;
    margin-left: 83px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 173px;
    margin-left: 107px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -115px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 192px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -32px;
    margin-left: 83px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -142px;
    margin-left: 205px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 83px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 186px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 83px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 213px;
  }

  .u-section-4 .u-image-8 {
    margin-top: -86px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 213px;
    margin-left: 0;
  }

  .u-section-4 .u-image-9 {
    margin-top: 177px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 63px;
    margin-right: 139px;
  }

  .u-section-4 .u-image-10 {
    margin-top: -329px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 5px;
    margin-right: 125px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 217px;
  }

  .u-section-4 .u-image-12 {
    margin-top: -283px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -13px;
    margin-left: 195px;
  }

  .u-section-4 .u-image-13 {
    margin-top: -121px;
    margin-right: 54px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 213px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-14 {
    margin-right: 54px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 146px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 201px;
  }

  .u-section-4 .u-image-16 {
    margin-top: -824px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 106px;
    margin-left: 59px;
  }

  .u-section-4 .u-image-17 {
    margin-top: 756px;
  }

  .u-section-4 .u-text-21 {
    margin-left: 177px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 638px;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 2rem;
  margin: 76px 95px 0 520px;
}

.u-section-5 .u-shape-1 {
  width: 383px;
  height: 5px;
  margin: 9px 237px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 461px;
  height: 414px;
  margin: 4px auto 0 16px;
}

.u-section-5 .u-text-2 {
  font-family: Poppins;
  margin: -405px 141px 0 520px;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 171px;
  margin: 16px 73px 0 auto;
}

.u-section-5 .u-text-3 {
  font-family: Poppins;
  font-size: 0.6875rem;
  font-weight: 600;
  margin: -96px 123px 0 538px;
}

.u-section-5 .u-image-3 {
  width: 570px;
  height: 171px;
  margin: 25px 78px 0 auto;
}

.u-section-5 .u-text-4 {
  font-family: Poppins;
  font-size: 0.6875rem;
  font-weight: 600;
  margin: -95px 123px 60px 539px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 416px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -67px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -439px;
    margin-right: 41px;
    margin-left: 420px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 47px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 23px;
    margin-left: 438px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 23px;
    margin-left: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 241px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 241px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -68px;
    margin-right: 157px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -440px;
    margin-left: 61px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 162px;
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -87px;
    margin-left: 61px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 162px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -86px;
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: -15px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 305px;
    margin-top: -31px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -278px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 102px;
    margin-top: -30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -27px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 102px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -26px;
    margin-left: 0;
    margin-bottom: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 291px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  font-size: 1.625rem;
  font-weight: 600;
  margin: 122px 265px 0 609px;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 500;
  margin: -93px 473px 0 609px;
}

.u-section-6 .u-text-3 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 500;
  margin: -64px 723px 0 349px;
}

.u-section-6 .u-text-4 {
  font-family: Poppins;
  font-size: 1.625rem;
  font-weight: 600;
  margin: -13px 570px 0 349px;
}

.u-section-6 .u-text-5 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 500;
  margin: -93px 173px 0 875px;
}

.u-section-6 .u-text-6 {
  font-family: Poppins;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.05;
  margin: -8px 29px 0 875px;
}

.u-section-6 .u-text-7 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.625rem;
  margin: -95px 803px 0 0;
}

.u-section-6 .u-shape-1 {
  width: 180px;
  height: 4px;
  margin: 15px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: -4px 570px 0 349px;
}

.u-section-6 .u-text-9 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: -45px 334px 0 609px;
}

.u-section-6 .u-text-10 {
  font-family: Poppins;
  font-size: 1rem;
  margin: -34px 849px 0 0;
}

.u-section-6 .u-text-11 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: -34px 34px 60px 875px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 267px;
    margin-top: 1761px;
    margin-right: 350px;
    margin-left: 509px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -127px;
    margin-right: 373px;
    margin-left: 509px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -1358px;
    margin-right: 623px;
    margin-left: 249px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -18px;
    margin-right: 470px;
    margin-left: 249px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 1049px;
    margin-right: 73px;
    margin-left: 775px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 22px;
    margin-right: 0;
    margin-left: 775px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -1999px;
    margin-right: 603px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 2073px;
  }

  .u-section-6 .u-text-8 {
    width: 292px;
    margin-top: -326px;
    margin-right: 470px;
    margin-left: 249px;
  }

  .u-section-6 .u-text-9 {
    width: 292px;
    margin-top: 137px;
    margin-right: 234px;
    margin-left: 509px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -2009px;
    margin-right: 649px;
    margin-left: 325px;
  }

  .u-section-6 .u-text-11 {
    margin: 656px 0 0 694px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 520px;
    margin-right: 240px;
    margin-left: 454px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -173px;
    margin-right: 263px;
    margin-left: 399px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -198px;
    margin-right: 513px;
    margin-left: 139px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -48px;
    margin-right: 360px;
    margin-left: 139px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 628px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 29px;
    margin-left: 628px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -456px;
    margin-right: 383px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 547px;
  }

  .u-section-6 .u-text-8 {
    margin-top: -58px;
    margin-right: 360px;
    margin-left: 139px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -46px;
    margin-right: 124px;
    margin-left: 399px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -570px;
    margin-right: 429px;
    margin-left: 249px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 119px;
    margin-left: 638px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 193px;
    margin-right: 150px;
    margin-left: 274px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -103px;
    margin-right: 161px;
    margin-left: 321px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -58px;
    margin-right: 423px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -182px;
    margin-right: 270px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 47px;
    margin-left: 448px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 448px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -439px;
    margin-right: 203px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 440px;
  }

  .u-section-6 .u-text-8 {
    margin-top: -135px;
    margin-right: 270px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -110px;
    margin-right: 34px;
    margin-left: 309px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -349px;
    margin-right: 249px;
    margin-left: 187px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 332px;
    margin-bottom: 60px;
    margin-left: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: 182px;
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 119px;
    margin-left: 107px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -5px;
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: -7px;
    margin-left: 248px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 248px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -428px;
    margin-right: 3px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 452px;
  }

  .u-section-6 .u-text-8 {
    margin-top: -157px;
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-top: -109px;
    margin-right: 0;
    margin-left: 143px;
  }

  .u-section-6 .u-text-10 {
    margin-top: -298px;
    margin-right: 49px;
    margin-left: 118px;
  }

  .u-section-6 .u-text-11 {
    margin-top: 383px;
    margin-left: 143px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 828px;
}

.u-section-7 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.625rem;
  margin: 97px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 198px;
  height: 5px;
  margin: 8px auto 0;
}

.u-section-7 .u-text-2 {
  font-family: Poppins;
  font-size: 1rem;
  width: 221px;
  margin: 6px auto 0;
}

.u-section-7 .u-image-1 {
  width: 270px;
  height: 270px;
  margin: 41px auto 0 300px;
}

.u-section-7 .u-text-3 {
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.2;
  margin: -219px 617px 0 400px;
}

.u-section-7 .u-text-4 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 13px 608px 0 344px;
}

.u-section-7 .u-image-2 {
  width: 270px;
  height: 270px;
  margin: 29px auto 0 300px;
}

.u-section-7 .u-text-5 {
  font-family: Poppins;
  font-weight: 700;
  margin: -213px auto 0 395px;
}

.u-section-7 .u-text-6 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 33px 608px 0 340px;
}

.u-section-7 .u-image-3 {
  width: 270px;
  height: 270px;
  margin: -400px auto 0 17px;
}

.u-section-7 .u-text-7 {
  font-family: Poppins;
  font-weight: 700;
  margin: -213px auto 0 111px;
}

.u-section-7 .u-text-8 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 29px 896px 0 60px;
}

.u-section-7 .u-image-4 {
  width: 270px;
  height: 270px;
  margin: 38px auto 0 21px;
}

.u-section-7 .u-text-9 {
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.2;
  margin: -213px 922px 0 117px;
}

.u-section-7 .u-text-10 {
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 16px 896px 0 60px;
}

.u-section-7 .u-image-5 {
  width: 529px;
  height: 404px;
  margin: -358px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    margin-top: 11px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -12px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 101px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 517px;
    margin-left: 329px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 508px;
    margin-left: 244px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 31px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 326px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 541px;
    margin-left: 104px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -393px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 756px;
    margin-left: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: 23px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -212px;
    margin-right: 822px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 307px;
    margin-right: 756px;
    margin-left: 0;
  }

  .u-section-7 .u-image-5 {
    margin-top: -1049px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-top: 120px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 297px;
    margin-left: 252px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 398px;
    margin-left: 134px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 250px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 398px;
    margin-left: 130px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -412px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 536px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 42px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 619px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 536px;
  }

  .u-section-7 .u-image-5 {
    margin-top: -1029px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    margin-top: -183px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 319px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: 622px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 147px;
    margin-left: 189px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 308px;
    margin-left: 44px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -245px;
    margin-left: 270px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 188px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 529px;
    margin-right: 308px;
    margin-left: 40px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -1132px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 256px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 285px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 439px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 356px;
  }

  .u-section-7 .u-image-5 {
    margin-top: -867px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -259px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 119px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 690px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 119px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 152px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -244px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 118px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 530px;
    margin-right: 148px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: -1133px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 56px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 286px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 239px;
    margin-left: 74px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 156px;
  }

  .u-section-7 .u-image-5 {
    width: 340px;
    height: 259px;
    margin-top: -688px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 512px;
}

.u-section-8 .u-text-1 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  width: 315px;
  margin: 57px 413px 0;
}

.u-section-8 .u-shape-1 {
  width: 185px;
  height: 9px;
  margin: 25px auto 0 478px;
}

.u-section-8 .u-image-1 {
  width: 670px;
  height: 379px;
  margin: -9px auto 0 -59px;
}

.u-section-8 .u-image-2 {
  width: 670px;
  height: 378px;
  margin: -379px -22px 26px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 213px;
    margin-left: 612px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 20px;
    margin-right: 334px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    margin-top: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 223px;
    margin-left: 602px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 231px;
    margin-left: 594px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 6px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 305px;
    margin-left: 300px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 305px;
    margin-top: -305px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 331px;
    margin-left: 494px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -87px;
    margin-right: 400px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 192px;
    margin-left: 400px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 192px;
    margin-top: -192px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 613px;
}

.u-section-9 .u-list-1 {
  width: 668px;
  margin: 70px 0 0 auto;
}

.u-section-9 .u-repeater-1 {
  grid-gap: 47px 47px;
  grid-template-columns: calc(25% - 35.25px) calc(25% - 35.25px) calc(25% - 35.25px) calc(25% - 35.25px);
  min-height: 473px;
}

.u-section-9 .u-image-1 {
  background-image: url("images/Picture521.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-image-2 {
  background-image: url("images/58925022-0-image11.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-image-3 {
  background-image: url("images/60201310-0-image-removebg-previ1.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-image-4 {
  background-image: url("images/kementerianpelajaranmalaysiaEng.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px;
}

.u-section-9 .u-image-5 {
  background-image: url("images/KWSP_New_Logo_2.svg.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-5 {
  padding: 10px;
}

.u-section-9 .u-image-6 {
  background-image: url("images/59417267-0-Shell-Logo-1.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-6 {
  padding: 10px;
}

.u-section-9 .u-image-7 {
  background-image: url("images/Logo_web-07-500x4411.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-7 {
  padding: 10px;
}

.u-section-9 .u-image-8 {
  background-image: url("images/Ministry-of-Health-logo-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-8 {
  padding: 10px;
}

.u-section-9 .u-image-9 {
  background-image: url("images/mindef1.png");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-9 {
  padding: 10px;
}

.u-section-9 .u-text-1 {
  font-family: Poppins;
  font-size: 1.875rem;
  margin: -427px 789px 0 0;
}

.u-section-9 .u-text-2 {
  font-family: Poppins;
  margin: 24px 765px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-9 .u-list-1 {
    width: 563px;
  }

  .u-section-9 .u-repeater-1 {
    grid-gap: 20px 20px;
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -389px;
    margin-right: 589px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 565px;
    margin-bottom: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
    margin-top: 228px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 1677px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -641px;
    margin-right: 149px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 13px;
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
    margin-top: 219px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -483px;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
    margin-top: 306px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  }

  .u-section-9 .u-text-1 {
    margin-top: -618px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 482px;
}

.u-section-10 .u-image-1 {
  width: 490px;
  left: auto;
  right: 141px;
}

.u-section-10 .u-text-1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.875rem;
  margin: 129px auto 0 87px;
}

.u-section-10 .u-text-2 {
  font-family: Poppins;
  font-size: 1rem;
  margin: 20px 708px 60px 87px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-top: -355px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    margin-right: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-top: 129px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }
}