 .u-section-1 {
  background-image: url("images/MSU-LP-Hero-Image-2000x2000px-desktop-new.jpg");
  background-position: 50% 13.98%;
}

.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 615px 0 0;
}

.u-section-1 .u-group-elements-1 {
  width: 480px;
  min-height: 123px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 600;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 8px 0 0;
}

.u-section-1 .u-group-1 {
  width: 303px;
  min-height: 401px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 41px auto 50px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 600;
  width: 253px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 554px;
  background-image: none;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  width: 64px;
}

.u-section-1 .u-label-2 {
  width: 64px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  width: 64px;
}

.u-section-1 .u-form-group-4 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-right: 415px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 516px;
    min-height: 84px;
  }

  .u-section-1 .u-group-1 {
    width: 284px;
    margin-top: 43px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-right: 195px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 329px;
    min-height: 126px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 35px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 54.92% 0%;
    background-size: 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 15px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -84px;
    margin-right: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-2 {
  background-image: url("images/MSU-LP-Hero-Image-1200x11724px-mobile-new.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 734px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -517px 615px 0 0;
}

.u-section-2 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 600;
  margin: 21px 660px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 8px 660px 60px 0;
}

.u-section-2 .u-group-1 {
  width: 303px;
  min-height: 401px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 51px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 600;
  width: 253px;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  height: 554px;
  background-image: none;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-2 .u-label-1 {
  width: 64px;
}

.u-section-2 .u-label-2 {
  width: 64px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  width: 64px;
}

.u-section-2 .u-form-group-4 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 100% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -565px;
    margin-right: 415px;
    font-size: 2.875rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 519px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 519px;
    margin-bottom: 179px;
  }

  .u-section-2 .u-group-1 {
    width: 284px;
    min-height: 398px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 30.39% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -803px;
    margin-right: 195px;
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 299px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 299px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 50% 9.67%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.625rem;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    width: 323px;
    min-height: 401px;
    margin-top: 336px;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 0% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 200px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 938px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px 7px 0;
}

.u-section-3 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 61px 0 0 456px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 424px;
  height: 635px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -648px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 390px;
  }

  .u-section-3 .u-image-1 {
    width: 330px;
    height: 587px;
    object-position: 44.39% 50%;
    margin-top: -631px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-text-3 {
    width: 504px;
    margin: 60px auto 56px;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 487px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-3 .u-text-1 {
    width: 382px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 389px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-bottom: 60px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: -24px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 633px;
}

.u-section-4 .u-shape-1 {
  width: 1028px;
  height: 396px;
  margin: 17px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 852px;
  margin: -456px auto -43px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 48px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Picture1.jpg");
  background-position: 50% 50%;
  min-height: 534px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-shape-1 {
    height: 472px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 650px;
    margin-top: -417px;
    margin-bottom: -21px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-4 .u-image-1 {
    min-height: 455px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-shape-1 {
    height: 603px;
    margin-top: 25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 428px;
    margin-top: -567px;
    margin-bottom: 25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 462px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-4 .u-shape-1 {
    height: 629px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 259px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-4 .u-image-1 {
    min-height: 367px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 689px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 100px 0;
}

.u-section-5 .u-slider-1 {
  width: 587px;
  min-height: 370px;
  height: auto;
  margin: 40px auto -49px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/freelance-young-asian-businesswoman-casual-wear-using-laptop-working-living-room-home.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/top-view-woman-s-hands-working-with-laptop.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-text-6 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/smiling-businessman-with-tablet-office.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-5 .u-text-7 {
  margin: 0;
}

.u-section-5 .u-text-8 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/attractive-smart-creative-asian-business-women-smart-casual-wear-working-laptop-while-sitting.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-5 .u-text-9 {
  margin: 0;
}

.u-section-5 .u-text-10 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: -58px;
  position: absolute;
  right: auto;
  background-image: none;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: -58px;
  background-image: none;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-slider-1 {
    margin-bottom: -99px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-5 .u-slider-1 {
    width: 600px;
    min-height: 375px;
    margin-bottom: -67px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-5 .u-slider-1 {
    width: 419px;
    min-height: 291px;
    margin-bottom: -3px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 61px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 61px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 63px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 61px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-5 .u-slider-1 {
    width: 295px;
    min-height: 210px;
    margin-top: 33px;
    margin-bottom: -211px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-top: 0;
  }

  .u-section-5 .u-carousel-control-1 {
    width: 27px;
    height: 27px;
    left: -39px;
    padding: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    width: 27px;
    height: 27px;
    right: -39px;
    padding: 8px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 815px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 30px;
  margin-bottom: -8px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 537px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-13 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-6 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 701px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-image-1 {
  min-height: 611px;
  background-image: url("images/Picture11.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-group-1 {
  width: 426px;
  min-height: 226px;
  background-image: none;
  margin: 264px auto 0 60px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-7 .u-container-layout-3 {
  padding-top: 60px;
  padding-right: 60px;
}

.u-section-7 .u-image-2 {
  height: 246px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 275px;
}

.u-section-7 .u-group-2 {
  width: 426px;
  min-height: 206px;
  margin: 0 auto 25px 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 582px;
  }

  .u-section-7 .u-group-1 {
    width: 377px;
    min-height: 225px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 40px;
    padding-right: 40px;
  }

  .u-section-7 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-7 .u-group-2 {
    width: 367px;
    min-height: 215px;
    margin-bottom: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 446px;
  }

  .u-section-7 .u-group-1 {
    width: 303px;
    min-height: 210px;
    margin-top: 115px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-2 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-group-2 {
    width: 345px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-7 .u-image-1 {
    min-height: 669px;
  }

  .u-section-7 .u-group-1 {
    width: 352px;
    min-height: 276px;
    margin-top: 264px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 50px;
  }

  .u-section-7 .u-image-2 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    width: 439px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 421px;
  }

  .u-section-7 .u-group-1 {
    width: 291px;
    min-height: 236px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-2 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-2 {
    width: 264px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 805px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-8 .u-list-1 {
  width: 1020px;
  margin: 30px auto -53px;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 30px 30px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 526px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  margin: 0 305px 0 1px;
}

.u-section-8 .u-image-1 {
  width: 426px;
  height: 239px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  margin: 0 306px 0 1px;
}

.u-section-8 .u-image-2 {
  width: 426px;
  height: 239px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 485px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 1px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-8 .u-text-1 {
    width: 555px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-list-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
    margin-bottom: -28px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-8 .u-image-2 {
    width: 320px;
    height: 180px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 745px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 22px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-9 .u-container-layout-2 {
  padding: 29px 30px 27px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  grid-gap: 20px 20px;
  min-height: 514px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 0;
}

.u-section-9 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 0;
}

.u-section-9 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-7 {
  padding: 0;
}

.u-section-9 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-8 {
  padding: 0;
}

.u-section-9 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-9 {
  padding: 0;
}

.u-section-9 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-10 {
  padding: 0;
}

.u-section-9 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-11 {
  padding: 0;
}

.u-section-9 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-12 {
  padding: 0;
}

.u-section-9 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-13 {
  padding: 0;
}

.u-section-9 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-14 {
  padding: 0;
}

.u-section-9 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-15 {
  padding: 0;
}

.u-section-9 .u-image-13 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-16 {
  padding: 0;
}

.u-section-9 .u-image-14 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-17 {
  padding: 0;
}

.u-section-9 .u-image-15 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-18 {
  padding: 0;
}

.u-section-9 .u-image-16 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 415px;
  }

  .u-section-9 .u-image-1 {
    height: NaNpx;
  }

  .u-section-9 .u-image-2 {
    height: NaNpx;
  }

  .u-section-9 .u-image-3 {
    height: NaNpx;
  }

  .u-section-9 .u-image-4 {
    height: NaNpx;
  }

  .u-section-9 .u-image-5 {
    height: NaNpx;
  }

  .u-section-9 .u-image-6 {
    height: NaNpx;
  }

  .u-section-9 .u-image-7 {
    height: NaNpx;
  }

  .u-section-9 .u-image-8 {
    height: NaNpx;
  }

  .u-section-9 .u-image-9 {
    height: NaNpx;
  }

  .u-section-9 .u-image-10 {
    height: NaNpx;
  }

  .u-section-9 .u-image-11 {
    height: NaNpx;
  }

  .u-section-9 .u-image-12 {
    height: NaNpx;
  }

  .u-section-9 .u-image-13 {
    height: NaNpx;
  }

  .u-section-9 .u-image-14 {
    height: NaNpx;
  }

  .u-section-9 .u-image-15 {
    height: NaNpx;
  }

  .u-section-9 .u-image-16 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -490px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 0;
  }

  .u-section-9 .u-list-1 {
    margin-top: 3px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    min-height: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -1044px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 621px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 31px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 561px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -817px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 321px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 497px;
}

.u-section-10 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 53px;
  margin-bottom: -19px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 276px;
  grid-gap: 30px 30px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 160px;
  height: 160px;
  background-image: url("images/HasbahbtJuwaini.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 15px 0 0 193px;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 160px;
  height: 160px;
  background-image: url("images/Picture14.jpg");
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-4 {
  font-style: normal;
  margin: -160px 0 0 193px;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: 15px 0 0 193px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -119px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 226px;
  }

  .u-section-10 .u-image-1 {
    width: 141px;
    height: 141px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 176px;
  }

  .u-section-10 .u-image-2 {
    width: 141px;
    height: 141px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: -141px;
    margin-left: 176px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-left: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -38px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -617px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -268px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 658px;
}

.u-section-11 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 449px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  height: 167px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-11 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px 30px 21px;
}

.u-section-11 .u-image-2 {
  height: 167px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-11 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-11 .u-btn-2 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-image-3 {
  height: 167px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-11 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-11 .u-btn-3 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-image-4 {
  height: 167px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-11 .u-text-9 {
  margin: 20px 2px 0 0;
}

.u-section-11 .u-btn-4 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.u-section-11 .u-btn-5 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-11 .u-image-1 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }

  .u-section-11 .u-image-2 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-5 {
    margin-right: 0;
  }

  .u-section-11 .u-image-3 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-7 {
    margin-right: 0;
  }

  .u-section-11 .u-image-4 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-11 .u-image-1 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-4 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-3 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-4 {
    height: 171px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-11 .u-image-1 {
    height: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-2 {
    height: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-3 {
    height: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-image-4 {
    height: 100px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 411px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  width: 492px;
  margin: 60px auto 0;
}

.u-section-12 .u-text-2 {
  width: 669px;
  margin: 12px auto 0;
}

.u-section-12 .u-gallery-1 {
  height: 183px;
  margin-top: 30px;
  margin-bottom: -71px;
}

.u-section-12 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto auto;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-12 .u-gallery-1 {
    height: 151px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-12 .u-gallery-1 {
    height: 136px;
    margin-bottom: -194px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 53px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
    margin-top: 21px;
  }

  .u-section-12 .u-gallery-1 {
    height: 340px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-12 .u-text-1 {
    width: 340px;
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-12 .u-gallery-1 {
    height: 482px;
    margin-bottom: -124px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
} .u-section-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/footer.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 800px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 302px auto 0;
}

.u-section-13 .u-text-2 {
  font-weight: 600;
  margin: 30px auto 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  margin: 50px 335px 0 auto;
  padding: 10px 28px 10px 27px;
}

.u-section-13 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  margin: -50px auto 60px 305px;
  padding: 10px 48px 11px 47px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-13 .u-btn-1 {
    align-self: center;
    margin-right: auto;
    margin-left: 485px;
  }

  .u-section-13 .u-btn-2 {
    margin-top: -51px;
    margin-left: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 51px;
    margin-left: 375px;
  }

  .u-section-13 .u-btn-2 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-13 .u-btn-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-13 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-top: 85px;
    margin-right: auto;
  }

  .u-section-13 .u-btn-2 {
    margin-top: -119px;
    margin-left: auto;
  }
}