 .u-section-1 {
  background-image: url("images/05022-3_PMC_Maternity-Package-July22_19x27_FA-2000x2000px.jpg");
  background-position: 22.38% 11.48%;
  background-size: 110%;
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-group-1 {
  width: 360px;
  min-height: 396px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 182px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 13px;
}

.u-section-1 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  margin: 0 15px;
}

.u-section-1 .u-form-1 {
  height: 273px;
  width: 317px;
  margin: 10px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 1rem;
  height: 45px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-2 {
  font-size: 1rem;
  height: 45px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-3 {
  font-size: 1rem;
  height: 45px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-4 {
  font-size: 1rem;
  height: 45px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  padding: 9px 24px 11px;
}

.u-section-1 .u-text-2 {
  font-size: 4.375rem;
  letter-spacing: 5px;
  font-family: SpicyGarlicDemo;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -401px 680px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  background-image: none;
  line-height: 1.4;
  margin: 10px 732px 0 0;
}

.u-section-1 .u-image-1 {
  width: 329px;
  height: 301px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -7px auto 0 143px;
}

.u-section-1 .u-image-2 {
  width: 169px;
  height: 159px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -271px auto 25px -21px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 40.18% 5.65%;
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-group-1 {
    width: 284px;
    min-height: 351px;
    margin-top: 187px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    height: 270px;
    width: 258px;
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-input-1 {
    height: 42px;
  }

  .u-section-1 .u-input-2 {
    height: 42px;
  }

  .u-section-1 .u-input-3 {
    height: 42px;
  }

  .u-section-1 .u-input-4 {
    height: 42px;
  }

  .u-section-1 .u-btn-1 {
    padding: 12px 31px 13px 29px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -351px;
    margin-right: 523px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 602px;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 227px;
    margin-top: 0;
    margin-left: 160px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -218px;
    margin-bottom: -226px;
    margin-left: -19px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 29.9% 17.27%;
    background-size: 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-group-1 {
    width: 277px;
    min-height: 328px;
    margin-top: 118px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-form-1 {
    height: 231px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-input-1 {
    height: 37px;
  }

  .u-section-1 .u-input-2 {
    height: 37px;
  }

  .u-section-1 .u-input-3 {
    height: 37px;
  }

  .u-section-1 .u-input-4 {
    height: 37px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    padding: 8px 19px 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
    margin-top: -321px;
    margin-right: 437px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 445px;
  }

  .u-section-1 .u-image-1 {
    width: 185px;
    height: 169px;
    margin-top: -17px;
    margin-left: 118px;
  }

  .u-section-1 .u-image-2 {
    width: 128px;
    height: 105px;
    margin-top: -137px;
    margin-bottom: -57px;
    margin-left: -10px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 82.62% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    min-height: 300px;
    margin-top: 123px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-form-1 {
    height: 203px;
    width: 199px;
    margin-top: 14px;
    margin-right: 8px;
    margin-left: 8px;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.875rem;
    height: 30px;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.875rem;
    height: 30px;
  }

  .u-section-1 .u-input-3 {
    font-size: 0.875rem;
    height: 30px;
  }

  .u-section-1 .u-input-4 {
    font-size: 0.875rem;
    height: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 90%;
    padding: 7px 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    margin-top: -307px;
    margin-right: 349px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 255px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
    height: 147px;
    margin-top: -7px;
    margin-left: 88px;
  }

  .u-section-1 .u-image-2 {
    width: 88px;
    height: 72px;
    margin-top: -130px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50.04% 100%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 934px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
    min-height: 352px;
    margin-top: 532px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-form-1 {
    height: 223px;
    width: 282px;
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-input-1 {
    font-size: 1rem;
    height: 40px;
  }

  .u-section-1 .u-input-2 {
    font-size: 1rem;
    height: 40px;
  }

  .u-section-1 .u-input-3 {
    font-size: 1rem;
    height: 40px;
  }

  .u-section-1 .u-input-4 {
    font-size: 1rem;
    height: 40px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -543px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 105px;
    height: 100px;
    margin-top: -262px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-2 {
    width: 78px;
    height: 63px;
    margin-top: -100px;
    margin-left: 10px;
  }
} .u-section-2 {
  background-image: url("images/shutterstock_13755309741.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 50px 552px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 664px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 498px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 15px 20px 20px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  font-size: 1rem;
  margin: 17px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 15px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 163px;
  margin: 1px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  font-weight: 600;
  text-transform: none;
  margin: 15px auto 0;
  padding: 3px 27px 3px 26px;
}

.u-section-2 .u-icon-1 {
  margin-right: 5px;
  font-size: 1.7858em;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 210px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-3 {
  padding: 15px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 18px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 10px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  font-weight: 600;
  margin: 15px auto 0;
  padding: 3px 27px 3px 26px;
}

.u-section-2 .u-icon-2 {
  margin-right: 5px;
  font-size: 1.7858em;
}

.u-section-2 .u-layout-wrap-2 {
  width: 638px;
  margin: -389px auto 0 13px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 171px;
}

.u-section-2 .u-container-layout-4 {
  padding: 5px 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 15px 9px 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 171px;
}

.u-section-2 .u-container-layout-5 {
  padding: 5px 10px 10px;
}

.u-section-2 .u-icon-4 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 15px 10px 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 171px;
}

.u-section-2 .u-container-layout-6 {
  padding: 5px 10px 10px;
}

.u-section-2 .u-icon-5 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 15px 5px 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 171px;
}

.u-section-2 .u-container-layout-7 {
  padding: 5px 10px 10px;
}

.u-section-2 .u-icon-6 {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  line-height: 1.2;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 15px 7px 0;
}

.u-section-2 .u-group-1 {
  width: 344px;
  min-height: 51px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 236px auto -24px 0;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  font-weight: 600;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 36.97% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 352px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 674px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-btn-1 {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -381px;
    margin-left: 18px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 110px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 227px;
    margin-bottom: -122px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 48.79% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-right: 132px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 653px;
    margin-top: 34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 20px 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 21px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 11px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -1px;
    margin-left: 46px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 578px;
    margin-top: -362px;
    margin-left: 38px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 158px;
  }

  .u-section-2 .u-icon-3 {
    width: 45px;
    height: 45px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 158px;
  }

  .u-section-2 .u-icon-4 {
    width: 45px;
    height: 45px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 158px;
  }

  .u-section-2 .u-icon-5 {
    width: 45px;
    height: 45px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 158px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-6 {
    width: 45px;
    height: 45px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 222px;
    margin-bottom: -210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 186px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 12px 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 3px;
    margin-right: auto;
    padding-right: 28px;
    padding-bottom: 4px;
    padding-left: 27px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 13px 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -547px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 193px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 151px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 375px;
    margin-bottom: -220px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 59.65% 100%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 182px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -671px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-icon-3 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-icon-4 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 134px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-icon-5 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-icon-6 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 393px;
    margin-bottom: -344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-3,
.u-section-2 .u-layout-cell-3:before,
.u-section-2 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 785px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 638px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 792px;
  margin: 20px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 485px;
  margin-top: 30px;
  margin-bottom: -91px;
  height: auto;
  width: 100%;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 400;
  padding: 10px 15px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 400;
  padding: 10px 15px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 955px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 338px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-1 {
  height: 148px;
  width: 148px;
  background-image: url("images/Dr-Vinodhini-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: 500;
  width: 228px;
  margin: 5px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-2 {
  height: 148px;
  width: 148px;
  background-image: url("images/Dr-Jaspal-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: 500;
  width: 228px;
  margin: 5px auto 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.9375rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 9px;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  width: 1056px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 380px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 13px 30px;
}

.u-section-3 .u-image-3 {
  height: 100px;
  width: 100px;
  background-image: url("images/Dr-Salehuddin-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: 600;
  margin: -100px 0 0 115px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px 34px 0 115px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 115px;
  padding: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 13px 30px;
}

.u-section-3 .u-image-4 {
  height: 100px;
  width: 100px;
  background-image: url("images/Dr-Michelle-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-weight: 600;
  margin: -100px 0 0 115px;
}

.u-section-3 .u-text-10 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px 34px 0 115px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 115px;
  padding: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 13px 30px;
}

.u-section-3 .u-image-5 {
  height: 100px;
  width: 100px;
  background-image: url("images/Dr-Liew-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-weight: 600;
  margin: -100px 0 0 115px;
}

.u-section-3 .u-text-12 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px 34px 0 115px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 115px;
  padding: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 13px 30px;
}

.u-section-3 .u-image-6 {
  height: 100px;
  width: 100px;
  background-image: url("images/Dr-Lai-removebg-preview.png");
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  font-weight: 600;
  margin: -100px 0 0 115px;
}

.u-section-3 .u-text-14 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px 34px 0 115px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 115px;
  padding: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 13px 30px;
}

.u-section-3 .u-image-7 {
  height: 100px;
  width: 100px;
  background-image: url("images/Dr-See-removebg-preview1.png");
  background-position: 50% 0%;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1rem;
  font-weight: 600;
  margin: -100px 0 0 115px;
}

.u-section-3 .u-text-16 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 5px 34px 0 115px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  font-size: 0.875rem;
  margin: 20px auto 0 115px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 579px;
    margin-top: 50px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 618px;
    margin-top: 56px;
    margin-bottom: -115px;
  }

  .u-section-3 .u-list-1 {
    width: 659px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 120px;
    width: 120px;
    margin-top: 29px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -131px;
    margin-right: 109px;
    margin-left: 239px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 87px;
    margin-left: 217px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 213px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 120px;
    width: 120px;
    margin-top: 29px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -131px;
    margin-right: 109px;
    margin-left: 239px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 87px;
    margin-left: 217px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 213px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px 0 19px;
  }

  .u-section-3 .u-list-2 {
    width: 900px;
    margin-top: 10px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 503px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-image-3 {
    height: 56px;
    width: 56px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -56px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-4 {
    height: 56px;
    width: 56px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -56px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 10px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-image-5 {
    height: 56px;
    width: 56px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -56px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 26px;
  }

  .u-section-3 .u-image-6 {
    height: 56px;
    width: 56px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -56px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 10px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-image-7 {
    height: 56px;
    width: 56px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: -56px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-btn-7 {
    margin-right: 78px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 693px;
    margin-top: 30px;
    margin-bottom: -131px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 703px;
    margin-top: 70px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 97px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 104px;
    margin-left: 244px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 82px;
    margin-left: 222px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 227px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 97px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 104px;
    margin-left: 244px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 82px;
    margin-left: 222px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 227px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-list-2 {
    width: 703px;
    margin-top: 5px;
  }

  .u-section-3 .u-repeater-2 {
    grid-gap: 10px 10px;
    min-height: 550px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 131px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 20px;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 15px;
    margin-right: 108px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 131px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 20px;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 10px;
    margin-right: 108px;
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 131px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 20px;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 10px;
    margin-right: 108px;
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 131px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 20px;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 10px;
    margin-right: 108px;
    padding-right: 3px;
    padding-left: 3px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 131px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 20px;
    margin-left: 132px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 10px;
    margin-right: 108px;
    padding-right: 3px;
    padding-left: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 850px;
    margin-bottom: -181px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-list-1 {
    width: 523px;
    margin-top: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 30px 30px;
    min-height: 648px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: 291px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: 291px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-list-2 {
    width: 523px;
    margin-top: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-gap: 20px 20px;
    min-height: 769px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 9px 0;
  }

  .u-section-3 .u-image-3 {
    height: 90px;
    width: 90px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -90px;
    margin-right: 156px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 53px;
    margin-left: 153px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: auto;
    margin-left: 153px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 9px 0;
  }

  .u-section-3 .u-image-4 {
    height: 90px;
    width: 90px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -90px;
    margin-right: 156px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 53px;
    margin-left: 153px;
  }

  .u-section-3 .u-btn-4 {
    margin-right: auto;
    margin-left: 153px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 9px 0;
  }

  .u-section-3 .u-image-5 {
    height: 90px;
    width: 90px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -90px;
    margin-right: 156px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 53px;
    margin-left: 153px;
  }

  .u-section-3 .u-btn-5 {
    margin-right: auto;
    margin-left: 153px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 9px 0;
  }

  .u-section-3 .u-image-6 {
    height: 90px;
    width: 90px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -90px;
    margin-right: 156px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 53px;
    margin-left: 153px;
  }

  .u-section-3 .u-btn-6 {
    margin-right: auto;
    margin-left: 153px;
  }

  .u-section-3 .u-container-layout-9 {
    padding: 9px 0;
  }

  .u-section-3 .u-image-7 {
    height: 90px;
    width: 90px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-15 {
    margin-top: -90px;
    margin-right: 156px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 53px;
    margin-left: 153px;
  }

  .u-section-3 .u-btn-7 {
    margin-right: auto;
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1226px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 849px;
    margin-top: 25px;
    margin-bottom: -168px;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 323px;
    margin-top: 50px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 644px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 25px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 720px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 10px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 30px;
    margin-left: 130px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 10px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 30px;
    margin-left: 130px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 10px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 30px;
    margin-left: 130px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 10px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 30px;
    margin-left: 130px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 130px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 10px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 30px;
    margin-left: 130px;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 130px;
  }
} .u-section-4 {
  background-image: url("images/breaker-background1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 734px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 716px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 92px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 428px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #02659f, #0b385c);
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
  text-transform: none;
  margin: 20px 1px 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.2;
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 378px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #02659f, #0b385c);
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  text-transform: none;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.2;
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 95px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 375px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-6 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #02659f, #0b385c);
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-7 {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: none;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-8 {
  line-height: 1.2;
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 371px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-7 {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(to right, #02659f, #0b385c);
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-9 {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 1px 0 0;
}

.u-section-4 .u-text-10 {
  line-height: 1.2;
  font-style: normal;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 76px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 78px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 309px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 179px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 113px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 119px;
  }
}

.u-section-4 .u-layout-cell-2,
.u-section-4 .u-layout-cell-2:before,
.u-section-4 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3,
.u-section-4 .u-layout-cell-3:before,
.u-section-4 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-6,
.u-section-4 .u-layout-cell-6:before,
.u-section-4 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-7,
.u-section-4 .u-layout-cell-7:before,
.u-section-4 .u-layout-cell-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-layout-cell-7.u-layout-cell-7.u-layout-cell-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/1532303206.jpg");
  background-position: 50% 8%;
}

.u-section-5 .u-sheet-1 {
  min-height: 569px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 509px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 30px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-5 .u-icon-1 {
  width: 20px;
  height: 20px;
  margin: -25px 64px 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 509px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-5 .u-form-1 {
  height: 457px;
  margin: 0 0 0 50px;
}

.u-section-5 .u-label-1 {
  font-weight: 500;
}

.u-section-5 .u-input-1 {
  font-size: 0.9375rem;
  background-image: none;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-label-2 {
  font-weight: 500;
}

.u-section-5 .u-input-2 {
  font-size: 0.9375rem;
  background-image: none;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 500;
}

.u-section-5 .u-input-3 {
  font-size: 0.9375rem;
  background-image: none;
}

.u-section-5 .u-label-4 {
  font-weight: 500;
}

.u-section-5 .u-input-4 {
  font-size: 0.9375rem;
  background-image: none;
}

.u-section-5 .u-label-5 {
  font-weight: 500;
}

.u-section-5 .u-input-5 {
  font-size: 0.9375rem;
  background-image: none;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 0px;
  font-size: 1rem;
  width: 22%;
  background-image: none;
  font-weight: 600;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 16px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 60px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -23px;
    margin-right: 129px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 18px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -24px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-5 .u-form-1 {
    height: 448px;
    margin-left: 19px;
  }

  .u-section-5 .u-input-1 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-input-2 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-input-3 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-input-4 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-input-5 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-btn-1 {
    width: 30%;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 30.16% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -23px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-input-1 {
    font-size: 0.9375rem;
  }

  .u-section-5 .u-input-2 {
    font-size: 0.9375rem;
  }

  .u-section-5 .u-input-3 {
    font-size: 0.9375rem;
  }

  .u-section-5 .u-input-4 {
    font-size: 0.9375rem;
  }

  .u-section-5 .u-input-5 {
    font-size: 0.9375rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 25.16% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: -70px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-5 .u-btn-1 {
    width: 40%;
  }
}@font-face {
  font-family: 'SpicyGarlicDemo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SpicyGarlicDemo.ttf);
}