 .u-section-1 {
  min-height: 593px;
}

.u-section-1 .u-image-1 {
  object-position: 53.05% 50%;
}

.u-section-1 .u-image-2 {
  width: 115px;
  height: 34px;
  margin: 39px auto 0 47px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    width: 117px;
    margin-top: 57px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin: 275px calc(((100% - 720px) / 2) + 230px) 60px calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 50px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 105px;
    height: 31px;
    margin-top: 37px;
    margin-left: calc(((100% - 340px) / 2) + -26px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 287px;
    margin-right: calc(((100% - 340px) / 2) + 33px);
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }
} .u-section-2 {
  background-image: url("images/confident-japanese-student-trendy-glasses-holding-marker-standing-near-white-board2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 858px;
}

.u-section-2 .u-image-1 {
  width: 150px;
  height: 44px;
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-size: 2.25rem;
  margin: 406px 592px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-image-1 {
    width: 113px;
    height: 39px;
    margin-top: 64px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 360px;
    margin-right: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 172px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 49px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 273px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2226px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}