.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1 .u-slider-1 {
  min-height: 223px;
  height: auto;
  width: 753px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 163px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 715px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-group-2 {
  min-height: 145px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 660px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-group-3 {
  min-height: 145px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 660px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-group-4 {
  width: 346px;
  min-height: 561px;
  height: auto;
  margin: -230px 0 60px auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-group-5 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 98px;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 6px 1px 0;
}

.u-section-1 .u-form-1 {
  height: 352px;
  background-image: none;
  margin: 0 16px;
}

.u-section-1 .u-label-1 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-1 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-2 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-3 {
  font-size: 0.888889rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-4 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-1 .u-label-5 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-5 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-input-6 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 0.611111rem;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 5px 0 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 210px;
    width: 594px;
  }

  .u-section-1 .u-group-1 {
    width: 611px;
    min-height: 152px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 611px;
    min-height: 152px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    width: 611px;
    min-height: 152px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-input-3 {
    height: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-1 .u-slider-1 {
    width: 580px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    min-height: 150px;
    width: 515px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-1 .u-group-2 {
    min-height: 150px;
    width: 515px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-1 .u-group-3 {
    min-height: 150px;
    width: 515px;
  }

  .u-section-1 .u-group-4 {
    margin: 0 auto 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 330px;
  }

  .u-section-1 .u-group-2 {
    width: 330px;
  }

  .u-section-1 .u-group-3 {
    width: 330px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 785px;
}

.u-section-2 .u-slider-1 {
  min-height: 240px;
  height: auto;
  width: 780px;
  margin: 170px auto 0 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-2 .u-group-1 {
  width: 751px;
  min-height: 180px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-group-2 {
  width: 591px;
  min-height: 180px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-group-3 {
  width: 591px;
  min-height: 180px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-slider-1 {
    min-height: 210px;
    width: 594px;
  }

  .u-section-2 .u-group-1 {
    width: 611px;
    min-height: 152px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-2 {
    width: 451px;
    min-height: 150px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    width: 451px;
    min-height: 150px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 185px;
    width: 580px;
    margin-top: 68px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 30px 30px;
  }

  .u-section-2 .u-group-1 {
    min-height: 150px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    width: 515px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 160px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 125px;
    width: 460px;
  }

  .u-section-2 .u-group-2 {
    width: 400px;
    min-height: 125px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 25px;
  }

  .u-section-2 .u-group-3 {
    width: 400px;
    min-height: 125px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 130px;
    margin-bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 100px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px 10px;
  }

  .u-section-2 .u-group-2 {
    width: 300px;
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 20px 10px;
  }

  .u-section-2 .u-group-3 {
    width: 300px;
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 20px 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-group-1 {
  width: 346px;
  min-height: 549px;
  height: auto;
  margin: -224px 0 50px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 91px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 300;
  font-size: 0.888889rem;
  margin: 6px 1px 0;
}

.u-section-3 .u-form-1 {
  height: 352px;
  background-image: none;
  margin: 0 16px;
}

.u-section-3 .u-label-1 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-1 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-label-2 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-2 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-label-3 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-3 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-label-4 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-4 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-label-5 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-5 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-form-group-6 {
  margin-left: 0;
}

.u-section-3 .u-label-6 {
  font-size: 0.611111rem;
  width: 129px;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-input-6 {
  font-size: 0.888889rem;
  height: 40px;
}

.u-section-3 .u-form-group-7 {
  margin-left: 0;
}

.u-section-3 .u-label-7 {
  font-size: 0.611111rem;
  letter-spacing: 0px;
  font-weight: 300;
}

.u-section-3 .u-btn-1 {
  width: 100%;
  padding: 5px 0 6px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: -210px;
    margin-bottom: 49px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 853px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 43px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 410px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px 24px;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-1 {
  width: 256px;
  min-height: 132px;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px 24px;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-2 {
  width: 256px;
  min-height: 132px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 20px 28px;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-3 {
  width: 256px;
  min-height: 132px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-4 {
  width: 256px;
  min-height: 132px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-10 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 20px 24px;
}

.u-section-4 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-5 {
  width: 256px;
  min-height: 132px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 0;
}

.u-section-4 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-12 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-4 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-6 {
  width: 256px;
  min-height: 132px;
  background-size: auto;
  height: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 0;
}

.u-section-4 .u-text-13 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

.u-section-4 .u-text-14 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 300;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 488px;
  }

  .u-section-4 .u-group-1 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-4 .u-group-3 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-4 .u-group-4 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-4 .u-group-5 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-4 .u-group-6 {
    width: 201px;
    min-height: 203px;
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 23px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-4 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-4 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 752px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-1 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-2 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-3 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-7 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-4 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-9 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-5 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-11 {
    padding: 20px 10px;
  }

  .u-section-4 .u-group-6 {
    width: 442px;
    min-height: 55px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
  }

  .u-section-4 .u-group-2 {
    width: 235px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
  }

  .u-section-4 .u-group-4 {
    width: 235px;
  }

  .u-section-4 .u-group-5 {
    width: 235px;
  }

  .u-section-4 .u-group-6 {
    width: 235px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 812px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  width: 765px;
  margin: 30px 0 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 626px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-group-1 {
  min-height: 98px;
  height: auto;
  width: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
  padding-right: 10px;
}

.u-section-5 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -6px auto 0 10px;
}

.u-section-5 .u-text-2 {
  font-weight: 800;
  margin: -9px 10px -6px auto;
}

.u-section-5 .u-text-3 {
  font-weight: 600;
  margin: -98px auto 0 117px;
}

.u-section-5 .u-text-4 {
  font-weight: 300;
  margin: 10px auto 30px 117px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-group-2 {
  min-height: 98px;
  height: auto;
  width: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-5 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 10px;
}

.u-section-5 .u-text-5 {
  font-size: 2.27778rem;
  font-weight: 800;
  margin: -31px 10px 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 600;
  margin: -98px auto 0 117px;
}

.u-section-5 .u-text-7 {
  font-weight: 300;
  margin: 10px auto 30px 117px;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-group-3 {
  min-height: 98px;
  height: auto;
  width: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-5 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 10px;
}

.u-section-5 .u-text-8 {
  font-size: 2.27778rem;
  font-weight: 800;
  margin: -31px 10px 0 auto;
}

.u-section-5 .u-text-9 {
  font-weight: 600;
  margin: -98px auto 0 117px;
}

.u-section-5 .u-text-10 {
  font-weight: 300;
  margin: 10px auto 30px 117px;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px;
}

.u-section-5 .u-group-4 {
  min-height: 98px;
  height: auto;
  width: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding-bottom: 0;
}

.u-section-5 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 10px;
}

.u-section-5 .u-text-11 {
  font-size: 2.27778rem;
  font-weight: 800;
  margin: -31px 10px 0 auto;
}

.u-section-5 .u-text-12 {
  font-weight: 600;
  margin: -98px auto 0 117px;
}

.u-section-5 .u-text-13 {
  font-weight: 300;
  margin: 10px auto 30px 117px;
}

.u-section-5 .u-container-layout-9 {
  padding: 10px;
}

.u-section-5 .u-group-5 {
  min-height: 98px;
  height: auto;
  width: 98px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-10 {
  padding-bottom: 0;
}

.u-section-5 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 0 auto 0 10px;
}

.u-section-5 .u-text-14 {
  font-size: 2.27778rem;
  font-weight: 800;
  margin: -31px 10px 0 auto;
}

.u-section-5 .u-text-15 {
  font-weight: 600;
  margin: -98px auto 0 117px;
}

.u-section-5 .u-text-16 {
  font-weight: 300;
  margin: 10px auto 30px 117px;
}

.u-section-5 .u-image-1 {
  width: 367px;
  height: 626px;
  margin: -625px auto 19px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-5 .u-list-1 {
    width: 648px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 42px;
    font-weight: normal;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 15px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 15px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 15px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 15px;
  }

  .u-section-5 .u-text-14 {
    width: auto;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-5 .u-image-1 {
    width: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-list-1 {
    margin-right: auto;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -16px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -5px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -12px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.88889rem;
    margin-top: -9px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -12px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.88889rem;
    margin-top: -9px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: -12px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.88889rem;
    margin-top: -9px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: -12px;
  }

  .u-section-5 .u-text-14 {
    font-size: 1.88889rem;
    margin-top: -9px;
  }

  .u-section-5 .u-image-1 {
    height: 665px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    min-height: 64px;
    width: 94px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -21px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -64px;
    margin-left: 118px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 118px;
  }

  .u-section-5 .u-group-2 {
    min-height: 64px;
    width: 94px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5555555555555556rem;
    margin-top: -21px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -64px;
    margin-left: 118px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 118px;
  }

  .u-section-5 .u-group-3 {
    min-height: 64px;
    width: 94px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5555555555555556rem;
    margin-top: -21px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -64px;
    margin-left: 118px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-left: 118px;
  }

  .u-section-5 .u-group-4 {
    min-height: 64px;
    width: 94px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-5 .u-text-11 {
    font-size: 1.5555555555555556rem;
    margin-top: -21px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-top: -64px;
    margin-left: 118px;
  }

  .u-section-5 .u-text-13 {
    width: auto;
    margin-left: 118px;
  }

  .u-section-5 .u-group-5 {
    min-height: 64px;
    width: 94px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 0;
    margin-left: 9px;
  }

  .u-section-5 .u-text-14 {
    font-size: 1.5555555555555556rem;
    margin-top: -21px;
  }

  .u-section-5 .u-text-15 {
    width: auto;
    margin-top: -64px;
    margin-left: 118px;
  }

  .u-section-5 .u-text-16 {
    width: auto;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-5 .u-group-1 {
    min-height: 70px;
    width: 62px;
  }

  .u-section-5 .u-icon-1 {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .u-section-5 .u-text-2 {
    font-weight: 800;
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -63px;
    margin-left: 72px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 5px;
    margin-left: 72px;
  }

  .u-section-5 .u-group-2 {
    min-height: 63px;
    width: 62px;
  }

  .u-section-5 .u-icon-2 {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    font-size: 1.7777777777777777rem;
  }

  .u-section-5 .u-text-6 {
    margin-top: -63px;
    margin-left: 72px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 5px;
    margin-left: 72px;
  }

  .u-section-5 .u-group-3 {
    min-height: 63px;
    width: 62px;
  }

  .u-section-5 .u-icon-3 {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    font-size: 1.7777777777777777rem;
  }

  .u-section-5 .u-text-9 {
    margin-top: -63px;
    margin-left: 72px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 5px;
    margin-left: 72px;
  }

  .u-section-5 .u-group-4 {
    min-height: 63px;
    width: 62px;
  }

  .u-section-5 .u-icon-4 {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .u-section-5 .u-text-11 {
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    font-size: 1.7777777777777777rem;
  }

  .u-section-5 .u-text-12 {
    margin-top: -63px;
    margin-left: 72px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 5px;
    margin-left: 72px;
  }

  .u-section-5 .u-group-5 {
    min-height: 63px;
    width: 62px;
  }

  .u-section-5 .u-icon-5 {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .u-section-5 .u-text-14 {
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    font-size: 1.7777777777777777rem;
  }

  .u-section-5 .u-text-15 {
    margin-top: -63px;
    margin-left: 72px;
  }

  .u-section-5 .u-text-16 {
    margin-top: 5px;
    margin-left: 72px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 700px;
}

.u-section-6 .u-group-1 {
  width: 600px;
  min-height: 114px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 523px;
}

.u-section-7 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 20px 72px 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 273px;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-7 .u-text-3 {
  background-image: none;
  margin: 0 7px;
}

.u-section-7 .u-text-4 {
  font-weight: 500;
  background-image: none;
  margin: 10px 6px 0;
}

.u-section-7 .u-line-1 {
  transform-origin: left center 0px;
  width: 400px;
  height: 1px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  font-weight: 300;
  margin: 10px 7px 0;
}

.u-section-7 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  width: 400px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-weight: 300;
  margin: 10px 6px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 273px;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-text-7 {
  margin: 26px auto 0;
}

.u-section-7 .u-text-8 {
  font-weight: 500;
  margin: 10px 0 0;
}

.u-section-7 .u-line-3 {
  transform-origin: left center 0px;
  width: 400px;
  height: 1px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-9 {
  font-weight: 300;
  margin: 10px 2px 0;
}

.u-section-7 .u-line-4 {
  transform-origin: left center 0px;
  width: 400px;
  height: 1px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-10 {
  font-weight: 300;
  margin: 10px 2px 0;
}

.u-section-7 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: -286px 127px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    height: 3px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -272px;
    margin-right: 70px;
    margin-bottom: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin: auto;
  }

  .u-section-7 .u-line-1 {
    width: 304px;
  }

  .u-section-7 .u-line-2 {
    width: 304px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-7 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-7 .u-text-7 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .u-section-7 .u-line-3 {
    width: 290px;
  }

  .u-section-7 .u-line-4 {
    width: 290px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -258px;
    margin-right: 194px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-line-1 {
    width: 300px;
  }

  .u-section-7 .u-line-2 {
    width: 300px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -251px;
    margin-right: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 90px;
    height: 90px;
    margin-top: -241px;
    margin-right: 31px;
    margin-bottom: 64px;
  }
}

.u-section-7 .u-layout-cell-1,
.u-section-7 .u-layout-cell-1:before,
.u-section-7 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #008aab !important;
}

.u-section-7 .u-layout-cell-1 {
  border-style: solid !important;
}

.u-section-7 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #008aab !important;
}

.u-section-7 .u-layout-cell-1 {
  border-style: solid !important;
}

.u-section-7 .u-container-layout:hover .u-layout-cell-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-7 .u-container-layout:hover .u-layout-cell-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-7 .u-layout-cell-1 {
  opacity: 1 !important;
}

.u-section-7 .u-layout-cell-2,
.u-section-7 .u-layout-cell-2:before,
.u-section-7 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #008aab !important;
}

.u-section-7 .u-layout-cell-2 {
  border-style: solid !important;
}

.u-section-7 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #008aab !important;
}

.u-section-7 .u-layout-cell-2 {
  border-style: solid !important;
} .u-section-8 {
  background-image: url("images/DSC00364-edited-cropped2.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-8 .u-text-1 {
  margin: 53px 0 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 514px;
}

.u-section-8 .u-group-1 {
  width: 526px;
  min-height: 362px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 47px 0 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  line-height: 1.6;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 100% 50%;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 154px;
  }

  .u-section-8 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-8 .u-text-3 {
    padding-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 221px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 3px;
    margin-left: 214px;
  }

  .u-section-8 .u-group-1 {
    width: 428px;
    min-height: 331px;
    margin-top: 29px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 41px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 99px;
  }

  .u-section-8 .u-group-1 {
    width: 417px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 17px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 603px;
}

.u-section-9 .u-image-1 {
  width: 754px;
  height: 435px;
  margin: 60px 0 0 auto;
}

.u-section-9 .u-text-1 {
  margin: -435px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 20px 825px 333px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-9 .u-image-1 {
    height: 542px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    width: 240px;
    margin-top: -694px;
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-9 .u-image-1 {
    height: 462px;
    margin-top: 212px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-top: -614px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-9 .u-image-1 {
    height: 357px;
    margin-top: 194px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -237px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-9 .u-image-1 {
    height: 235px;
    margin-top: 211px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-top: -386px;
  }

  .u-section-9 .u-text-2 {
    margin-bottom: -360px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1370px;
}

.u-section-10 .u-text-1 {
  margin: 80px 90px 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 400;
  margin: 17px 0 0;
}

.u-section-10 .u-accordion-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-10 .u-accordion-link-1 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-1 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-10 .u-accordion-link-2 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-2 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-10 .u-text-4 {
  margin-left: 0;
  margin-top: 0;
}

.u-section-10 .u-accordion-link-3 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-3 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-10 .u-accordion-link-4 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-4 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-10 .u-accordion-link-5 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-5 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-5 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-6 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-6 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-7 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-7 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-7 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-7 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-8 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-8 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-8 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-9 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-9 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-9 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-9 {
  padding: 20px;
}

.u-section-10 .u-accordion-link-10 {
  background-image: none;
  font-weight: 500;
  padding: 25px 30px;
}

.u-section-10 .u-icon-10 {
  height: 17px;
  width: 17px;
}

.u-section-10 .u-accordion-pane-10 {
  min-height: 78px;
  background-image: none;
  height: auto;
}

.u-section-10 .u-container-layout-10 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1530px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2200px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(92,218,249,0.3), rgba(92,218,249,0.3)), url("images/LP-Layer10-1200x461-px.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 461px;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 123px auto 0;
}

.u-section-11 .u-text-2 {
  text-transform: uppercase;
  font-size: 3.88889rem;
  font-weight: 800;
  margin: 31px auto 0;
}

.u-section-11 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 3px 3px 10px rgba(0,0,0,0.46);
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  font-size: 1.27778rem;
  border-style: solid;
  margin: 33px auto 60px 448px;
  padding: 7px 43px 8px 42px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    background-position: 100% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-11 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-11 .u-text-2 {
    font-size: 3rem;
  }
}