 .u-section-1 {
  background-image: url("images/woman-having-video-chat-online-school-computer-smiling-laptop-camera-girl-studying-remotely-fr2.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 90px;
  margin: 27px auto 0 20px;
}

.u-section-1 .u-group-1 {
  width: 407px;
  min-height: 640px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -22px 35px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 15px 15px 0;
}

.u-section-1 .u-form-1 {
  height: 544px;
  width: 344px;
  margin: 8px 18px -7px 15px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-2 {
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-3 {
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-4 {
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-5 {
  font-weight: 500;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding-left: 70px;
  padding-right: 70px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -399px 654px 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 5px 683px 0 20px;
}

.u-section-1 .u-group-2 {
  width: 437px;
  background-image: none;
  min-height: 70px;
  height: auto;
  margin: 35px auto 60px 20px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px auto 0 12px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 0% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-group-1 {
    width: 372px;
    min-height: 604px;
    margin-top: -64px;
    margin-right: 12px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 9px 0 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 19px;
    margin-right: 36px;
    margin-left: 24px;
  }

  .u-section-1 .u-form-1 {
    height: 519px;
    margin: 0 auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -321px;
    margin-right: 474px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-bottom: 80px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 46.91% 39.53%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 688px;
    min-height: 618px;
    margin-top: 591px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 640px;
    margin-top: 19px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -1172px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 488px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 394px;
    min-height: 53px;
    margin: 29px 150px 60px auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 11px;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 46.91% 31.04%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-group-1 {
    width: 482px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-form-1 {
    width: 441px;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: 414px;
  }

  .u-section-1 .u-group-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 46.91% 33.64%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-1 .u-group-1 {
    min-height: 606px;
    margin-top: 424px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.375rem;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 17px;
  }

  .u-section-1 .u-label-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-input-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -980px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-group-2 {
    width: 277px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 18px;
    font-size: 0.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-group-1 {
  width: 1003px;
  background-image: none;
  min-height: 228px;
  height: auto;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-2 .u-shape-1 {
  width: 15px;
  height: 178px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -143px auto 0 49px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  margin: -12px 70px 0 auto;
  padding: 12px 36px 14px 34px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -26px 406px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -9px;
    margin-right: 35px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -28px;
    margin-right: 374px;
    margin-left: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 292px;
    width: 631px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 89px;
    margin-right: 198px;
  }

  .u-section-2 .u-text-2 {
    width: 456px;
    margin-top: -133px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 311px;
    width: 540px;
    margin-top: 37px;
    margin-left: -15px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -148px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -172px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 123px;
    margin-right: 54px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -165px;
    margin-right: 20px;
    margin-left: 32px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-rotation-parent-1 {
  width: 178px;
  height: 15px;
  margin: 51px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 15px;
  height: 178px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 366px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 155px;
  height: 122px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  background-image: none;
  line-height: 1.2;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 155px;
  height: 122px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  background-image: none;
  line-height: 1.2;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 155px;
  height: 122px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  background-image: none;
  line-height: 1.2;
}

.u-section-3 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  width: 155px;
  height: 122px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-text-9 {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  background-image: none;
  line-height: 1.2;
}

.u-section-3 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  width: 155px;
  height: 122px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-3 .u-text-11 {
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: 400;
  background-image: none;
  line-height: 1.2;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 693px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 38px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 611px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 878px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }

  .u-section-3 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 14px;
    margin-right: 14px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1339px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 178px;
  height: 15px;
  margin: 86px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 15px;
  height: 178px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 608px;
  height: 839px;
  margin: 56px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 1003px;
  background-image: none;
  min-height: 228px;
  height: auto;
  margin: -93px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 0;
}

.u-section-4 .u-shape-2 {
  width: 15px;
  height: 178px;
  margin: 5px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -143px auto 0 49px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  margin: -12px 70px 0 auto;
  padding: 12px 36px 14px 34px;
}

.u-section-4 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.2;
  margin: -26px 406px 0 49px;
}

.u-section-4 .u-list-1 {
  width: 610px;
  margin: -907px 0 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 653px;
  grid-gap: 21px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 1px 54px 0 83px;
}

.u-section-4 .u-icon-1 {
  height: 32px;
  width: 32px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -24px auto 0 34px;
  padding: 8px;
}

.u-section-4 .u-text-6 {
  font-style: normal;
  font-size: 1rem;
  margin: 4px 46px 0 83px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 600;
  margin: 9px auto 0 83px;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 3px;
}

.u-section-4 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1px 54px 0 83px;
}

.u-section-4 .u-icon-3 {
  height: 32px;
  width: 32px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -24px auto 0 34px;
  padding: 8px;
}

.u-section-4 .u-text-8 {
  font-style: normal;
  font-size: 1rem;
  margin: 4px 46px 0 83px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 600;
  margin: 9px auto 0 83px;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 3px;
}

.u-section-4 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1px 54px 0 83px;
}

.u-section-4 .u-icon-5 {
  height: 32px;
  width: 32px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -24px auto 0 34px;
  padding: 8px;
}

.u-section-4 .u-text-10 {
  font-style: normal;
  font-size: 1rem;
  margin: 4px 46px 0 83px;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 600;
  margin: 9px auto 0 83px;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 3px;
}

.u-section-4 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1px 54px 0 83px;
}

.u-section-4 .u-icon-7 {
  height: 32px;
  width: 32px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -24px auto 0 34px;
  padding: 8px;
}

.u-section-4 .u-text-12 {
  font-style: normal;
  font-size: 1rem;
  margin: 4px 46px 0 83px;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 600;
  margin: 9px auto 0 83px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 541px;
    margin-top: 101px;
    margin-left: -20px;
  }

  .u-section-4 .u-group-1 {
    width: 940px;
    margin-top: -138px;
    height: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -11px;
    margin-right: 31px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 374px;
    margin-left: 17px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -923px;
    margin-right: -50px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -23px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -32px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -32px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -32px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-4 .u-image-1 {
    width: 373px;
    height: 668px;
    margin-top: 230px;
    margin-left: -35px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -154px;
    min-height: 264px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -163px;
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 100px;
    margin-right: 244px;
  }

  .u-section-4 .u-text-4 {
    width: 568px;
    margin-top: -139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    width: 537px;
    margin-top: -935px;
    margin-right: -34px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1738px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: 734px;
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -262px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -160px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 93px;
    margin-right: 148px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -134px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1377px;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 846px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-right: 50px;
    margin-left: 87px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 2px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 37px;
    margin-right: 50px;
    margin-left: 87px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 2px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 37px;
    margin-right: 50px;
    margin-left: 87px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 2px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 37px;
    margin-right: 50px;
    margin-left: 87px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: -16px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 2px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1951px;
  }

  .u-section-4 .u-image-1 {
    height: 609px;
    margin-top: 953px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -219px;
    min-height: 275px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-3 {
    width: 267px;
    margin-top: -139px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 86px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    width: 261px;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1590px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1048px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -48px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 28px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 12px;
    margin-left: 84px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -48px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 28px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 12px;
    margin-left: 84px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -48px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 28px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 12px;
    margin-left: 84px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 25px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: -48px;
    margin-left: 35px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 28px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 12px;
    margin-left: 84px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 607px;
}

.u-section-5 .u-rotation-parent-1 {
  width: 178px;
  height: 15px;
  margin: 51px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 15px;
  height: 178px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 843px;
  margin: 66px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 275px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-1 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-2 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-3 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-4 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-5 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-6 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-7 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-8 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-9 {
  height: 97px;
  margin: 0;
}

.u-section-5 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 28px 16px 6px;
}

.u-section-5 .u-image-10 {
  height: 97px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-5 .u-list-1 {
    width: 714px;
    margin-top: 51px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 327px;
    grid-auto-columns: calc(20% - 8px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-5 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-6 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-7 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-8 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-9 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-10 {
    height: 85px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-5 .u-list-1 {
    width: 441px;
    margin-top: 32px;
    margin-left: auto;
    margin-bottom: 46px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 690px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-8 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-9 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-10 {
    height: 71px;
    width: 194px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 68px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 446px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-5 .u-image-1 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-6 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-7 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-8 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-9 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-10 {
    height: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 823px;
}

.u-section-6 .u-rotation-parent-1 {
  width: 178px;
  height: 15px;
  margin: 51px auto 0;
}

.u-section-6 .u-shape-1 {
  width: 15px;
  height: 178px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 18px 0 0;
}

.u-section-6 .u-list-1 {
  width: 1089px;
  margin: 59px auto 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 543px;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-6 .u-group-1 {
  background-image: none;
  width: 351px;
  min-height: 525px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 27px 0;
}

.u-section-6 .u-shape-2 {
  width: 15px;
  height: 178px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: -178px auto 0 25px;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: 11px auto 0 25px;
}

.u-section-6 .u-image-1 {
  width: 327px;
  height: 183px;
  margin: 20px 0 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 39px 11px 0 20px;
}

.u-section-6 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-6 .u-group-2 {
  background-image: none;
  width: 351px;
  min-height: 525px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 27px 0;
}

.u-section-6 .u-shape-3 {
  width: 15px;
  height: 178px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: -178px auto 0 25px;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  margin: 11px auto 0 25px;
}

.u-section-6 .u-image-2 {
  width: 327px;
  height: 183px;
  margin: 20px 0 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 39px 11px 0 20px;
}

.u-section-6 .u-container-layout-5 {
  padding: 9px 0;
}

.u-section-6 .u-group-3 {
  background-image: none;
  width: 351px;
  min-height: 525px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 27px 0;
}

.u-section-6 .u-shape-4 {
  width: 15px;
  height: 178px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: -178px auto 0 25px;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin: 11px auto 0 25px;
}

.u-section-6 .u-image-3 {
  width: 327px;
  height: 183px;
  margin: 20px 0 0 auto;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  margin: 39px 11px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 811px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 535px;
    grid-template-columns: repeat(3, calc(33.3333% - 66.6667px));
    grid-auto-columns: calc(33.3333% - 66.6667px);
    grid-gap: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-group-1 {
    width: 331px;
    margin-right: -95px;
    margin-left: auto;
    height: auto;
  }

  .u-section-6 .u-image-1 {
    width: 302px;
    margin-right: -1px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 36px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-group-2 {
    width: 331px;
    margin-right: -95px;
    margin-left: auto;
    height: auto;
  }

  .u-section-6 .u-image-2 {
    width: 302px;
    margin-right: -1px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 36px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-group-3 {
    width: 331px;
    margin-right: -95px;
    margin-left: auto;
    height: auto;
  }

  .u-section-6 .u-image-3 {
    width: 302px;
    margin-right: -1px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2045px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1730px;
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-group-1 {
    width: 614px;
    min-height: 558px;
    margin-top: -4px;
    margin-right: 29px;
    margin-bottom: -33px;
  }

  .u-section-6 .u-image-1 {
    width: 558px;
    height: 291px;
    object-position: 50% 29.26%;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 16px;
    margin-right: 31px;
    margin-left: 25px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-6 .u-group-2 {
    width: 614px;
    min-height: 558px;
    margin-top: -4px;
    margin-right: 29px;
    margin-bottom: -33px;
  }

  .u-section-6 .u-image-2 {
    width: 558px;
    height: 291px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    margin-top: 16px;
    margin-right: 31px;
    margin-left: 25px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-6 .u-group-3 {
    width: 614px;
    min-height: 558px;
    margin-top: -4px;
    margin-right: 29px;
    margin-bottom: -33px;
  }

  .u-section-6 .u-image-3 {
    width: 558px;
    height: 291px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-6 .u-text-10 {
    margin-top: 16px;
    margin-right: 31px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 511px;
    height: 272px;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: 35px;
    margin-right: 11px;
  }

  .u-section-6 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 511px;
    height: 272px;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: 35px;
    margin-right: 11px;
  }

  .u-section-6 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    width: 511px;
    height: 272px;
    margin-top: 3px;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-top: 35px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 134px;
    margin-bottom: 33px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1489px;
  }

  .u-section-6 .u-group-1 {
    min-height: 493px;
    width: 340px;
    margin-top: -96px;
    margin-right: -4px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    width: 315px;
    height: 165px;
    margin-right: -4px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    min-height: 493px;
    width: 340px;
    margin-top: -96px;
    margin-right: -4px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    width: 315px;
    height: 165px;
    margin-right: -4px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    min-height: 493px;
    width: 340px;
    margin-top: -96px;
    margin-right: -4px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-3 {
    width: 315px;
    height: 165px;
    margin-right: -4px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 51px;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: url("images/online-education-work-from-home-concept-smiling-asian-girl-sits-with-laptop-earphones-kit1.jpg");
  background-position: 50% 27.92%;
}

.u-section-7 .u-sheet-1 {
  min-height: 609px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 191px auto 0 20px;
}

.u-section-7 .u-text-2 {
  font-size: 2.375rem;
  line-height: 1.4;
  margin: 20px 628px 0 20px;
}

.u-section-7 .u-btn-1 {
  font-size: 1.125rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  margin: 20px auto 0 20px;
  padding: 12px 46px 13px 45px;
}

.u-section-7 .u-btn-2 {
  font-size: 1.125rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  margin: -58px auto 60px 257px;
  padding: 12px 13px 14px 11px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 126px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 428px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 208px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1rem;
    margin-top: -55px;
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 124px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 13px;
    margin-right: 287px;
    margin-left: 13px;
  }

  .u-section-7 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 33px;
    margin-left: 16px;
    padding: 6px 40px 6px 39px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -39px;
    margin-right: 159px;
    margin-left: auto;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 40.02% 27.92%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 88px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 82px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    padding-right: 14px;
    padding-left: 13px;
  }
}