 .u-section-1 {
  background-image: url("images/GSPARX-Maybank-Promotion-1280x850px-BG-new3.jpg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 758px;
}

.u-section-1 .u-group-1 {
  min-height: 347px;
  height: auto;
  width: 491px;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 35px 30px 1px 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  animation-timing-function: ease-in;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-group-1 {
    min-height: 288px;
    width: 481px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-group-1 {
    min-height: 254px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: url("images/GSPARX-Maybank-Promotion-1200x800px-mobile.jpg");
  background-position: 50% 100%;
}

.u-section-2 .u-sheet-1 {
  min-height: 727px;
}

.u-section-2 .u-group-1 {
  min-height: 242px;
  height: auto;
  width: 520px;
  margin: -300px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 1px 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-group-1 {
    width: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-2 .u-group-1 {
    min-height: 190px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 28.52% 100%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-group-1 {
    min-height: 224px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 910px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 390px);
  height: 362px;
  margin: 250px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 791px;
  height: auto;
  margin: -553px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 44px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-3 .u-countdown-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 8px auto 0;
  padding: 18px 76px;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-layout-wrap-1 {
  width: 589px;
  margin: -726px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-cell-1 {
  min-height: 216px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 10px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 230px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-2 {
  height: 60px;
  width: 60px;
  margin: -132px auto 2px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 90px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 106px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 210px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 60px;
  width: 60px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 10px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 220px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 60px;
  width: 60px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 10px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 390px);
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 441px;
    min-height: 790px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-3 .u-countdown-1 {
    padding: 16px 30px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 499px;
    margin-top: -706px;
    margin-bottom: 49px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-3 .u-icon-1 {
    padding: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -185px;
    margin-bottom: 55px;
    padding: 5px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 76px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 98px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 209px;
  }

  .u-section-3 .u-icon-3 {
    padding: 5px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 228px;
  }

  .u-section-3 .u-icon-4 {
    padding: 5px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1329px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 390px);
    height: 265px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 731px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1165px;
    margin-left: auto;
    margin-bottom: 772px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: -61px 0 7px 95px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 147px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -56px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 61px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 62px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 155px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -56px;
    margin-left: 95px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 144px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 2px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -56px;
    margin-right: 0;
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1309px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 390px);
    margin-top: 108px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 781px;
    margin-top: 95px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1188px;
    margin-bottom: -102px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -47px;
    margin-bottom: 24px;
    margin-left: 96px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 92px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 11px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 29px;
    margin-left: 115px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -41px;
    margin-left: 19px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 93px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -7px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -42px;
    margin-left: 96px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 93px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-6 {
    margin: -42px 47px 18px 95px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1434px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 247px);
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 220px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-countdown-1 {
    padding: 14px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1313px;
    margin-bottom: -14px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 27px 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -40px;
    margin-bottom: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 125px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
    margin-left: 94px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -51px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 98px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 98px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 20px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 8px;
    margin-right: 240px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -51px;
    margin-bottom: 9px;
    margin-left: 94px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 20px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-6 {
    margin: -51px 3px 0 94px;
  }
}