.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-text-1 {
  width: 819px;
  font-size: 2.25rem;
  margin: 70px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 332px;
  grid-gap: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-group-1 {
  min-height: 265px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-1 .u-icon-1 {
  width: 89px;
  height: 89px;
  background-image: none;
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 26px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 0;
}

.u-section-1 .u-group-2 {
  min-height: 265px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 20px;
}

.u-section-1 .u-icon-2 {
  width: 89px;
  height: 89px;
  background-image: none;
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-1 .u-group-3 {
  min-height: 265px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 20px;
}

.u-section-1 .u-icon-3 {
  width: 89px;
  height: 89px;
  background-image: none;
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 0;
}

.u-section-1 .u-group-4 {
  min-height: 265px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 20px;
}

.u-section-1 .u-icon-4 {
  width: 89px;
  height: 89px;
  background-image: none;
  margin: -35px auto 0;
  padding: 20px;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 409px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 274px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: 591px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 839px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 45px;
    margin-bottom: 31px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1336px;
    grid-gap: 20px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 48px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 49px;
    margin-bottom: 40px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 924px;
}

.u-section-2 .u-shape-1 {
  height: 374px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 2.25rem;
  margin: -314px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 68px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 688px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 204px;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-image-2 {
  height: 204px;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-image-3 {
  height: 204px;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-image-4 {
  height: 204px;
  margin: 20px 8px 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 8px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 832px;
  }

  .u-section-2 .u-shape-1 {
    height: 526px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 568px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-1 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-2 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-3 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-4 {
    height: 162px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1349px;
  }

  .u-section-2 .u-shape-1 {
    height: 636px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 185px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1740px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 3203px;
  }

  .u-section-2 .u-shape-1 {
    height: 546px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -446px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2923px;
    grid-gap: 20px 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    height: 440px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-2 {
    height: 440px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-3 {
    height: 440px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-4 {
    height: 440px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2573px;
  }

  .u-section-2 .u-shape-1 {
    height: 381px;
    margin-top: 2px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: -332px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: 43px;
    margin-bottom: 44px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2359px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-image-1 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-image-2 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-image-3 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.375rem;
  }

  .u-section-2 .u-image-4 {
    height: 222px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 639px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 21px 2px 0;
}

.u-section-3 .u-text-2 {
  margin: 89px 55px 0 660px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: -34px auto 0 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -311px 0 0 662px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 211px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 462px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 295px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 242px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 47px;
    margin-left: 115px;
  }

  .u-section-3 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-top: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 252px;
    margin-left: 0;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    margin-top: -241px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 71px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 694px;
}

.u-section-4 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-4 .u-slider-1 {
  min-height: 469px;
  width: 1020px;
  margin: 60px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 50px;
}

.u-section-4 .u-image-1 {
  width: 123px;
  height: 123px;
  background-image: url("images/PPN_8213-modified.png");
  background-position: 50% 50%;
  margin: 35px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  width: 234px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  width: 166px;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-item-2 {
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 31px 0 0;
}

.u-section-4 .u-image-2 {
  width: 123px;
  height: 123px;
  background-image: url("images/CE1B_LFKLD514100-modified_150.png");
  background-position: 50% 50%;
  margin: 42px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  width: 234px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  width: 166px;
  margin: 17px auto 0;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 50px;
}

.u-section-4 .u-image-3 {
  width: 130px;
  height: 130px;
  background-image: url("images/PPN_8213-modified2.png");
  background-position: 50% 50%;
  margin: 38px auto 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  width: 191px;
  margin: 31px auto 0;
}

.u-section-4 .u-text-10 {
  font-size: 1rem;
  font-weight: 400;
  width: 167px;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 50px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  margin: 5px 0 0;
}

.u-section-4 .u-image-4 {
  width: 123px;
  height: 123px;
  background-image: url("images/CPA-modified_150.png");
  background-position: 50% 50%;
  margin: 45px auto 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  width: 234px;
  margin: 35px auto 0;
}

.u-section-4 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  width: 228px;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 37px;
  height: 37px;
  background-image: none;
  left: 0;
  top: 220px;
  right: auto;
  position: absolute;
  padding: 9px;
}

.u-section-4 .u-carousel-control-2 {
  width: 37px;
  height: 37px;
  left: auto;
  position: absolute;
  background-image: none;
  top: 220px;
  right: 0;
  padding: 9px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 83px;
    height: 83px;
  }

  .u-section-4 .u-text-4 {
    width: 296px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-slider-1 {
    min-height: 566px;
    margin-top: 90px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 12px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-4 .u-image-1 {
    width: 130px;
    height: 130px;
    margin-top: 59px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-carousel-control-1 {
    top: 233px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 710px;
    margin-top: 17px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-indicators-1 {
    top: auto;
    bottom: 0;
  }

  .u-section-4 .u-text-4 {
    width: 166px;
    margin-top: 8px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: -37px;
    top: 200px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 200px;
    right: -33px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 580px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 53px;
  background-image: none;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-5 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 1px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 381px;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 1px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  margin: 32px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-5 .u-text-8 {
  width: 212px;
  margin: 45px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  width: 190px;
  margin: 24px auto 0;
}

.u-section-5 .u-text-10 {
  width: 190px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-4 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin: 46px 1px 0;
}

.u-section-5 .u-text-12 {
  margin: 23px 1px 0;
}

.u-section-5 .u-text-13 {
  margin: 21px 1px 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  background-image: none;
  margin: 29px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-5 .u-text-9 {
    width: 126px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 320px;
  }

  .u-section-5 .u-btn-4 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 23px;
    margin-left: -21px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 23px;
    margin-left: -21px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 23px;
    margin-left: -21px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-8 {
    width: 165px;
  }

  .u-section-5 .u-text-10 {
    width: 165px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 24px;
    margin-left: -22px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: -23px;
    margin-right: -23px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 368px;
  }

  .u-section-5 .u-text-9 {
    width: 196px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 24px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-11 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-text-13 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 45px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 805px;
  margin: 114px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 42px auto 60px;
  padding: 13px 32px 14px 31px;
}

.u-section-6 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 514px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 39px 47px 0 668px;
}

.u-section-7 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 2px auto 0 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: -341px 0 0 668px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 21px 203px 39px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 515px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-left: 568px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 295px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 348px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-7 .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-7 .u-video-1 {
    height: 191px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin: 15px auto 25px 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-8 .u-image-1 {
  min-height: 431px;
  background-image: url("images/IMG_1596-2.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-8 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 272px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 408px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    min-height: 257px;
  }
}