@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    font-size: 18px;
    line-height: 1.4;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	line-height: 1;
    overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}
.subhead,
.mainhead {
    display: flex;
}

.css-share {
    font-size: 16px;
    font-weight: 800;
    color: #000 !important;
}
.right {
    text-align: right;
}
.img-responsive{
	max-width: 100%;
}
.sub-head-main a {
    color: #2f2f2f;
    text-decoration: none;
}
/* Typography
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 
{ 
	color: #222; 
    font-weight: 600; 
    line-height: 1.5; 
    margin: 0 0 15px; 
    text-rendering: optimizeLegibility; 
}
.spacer{
	height:5rem;
}
.airdown h2{
     margin-bottom: 2rem;
}
.airdown h2:after{
    content: "";
    height: 4px;
    left: 31px;
    position: absolute;
    width: 36px;
    margin-top: 3rem;
    background: #34b3b2;
}
.sub-head{
    font-weight: bold;
    margin: 9px 0px 5px;
}
.visible-xs{
	display:none;
}
.hidden-xs {
    display: block;
}
header {
    padding: 0px 40px 0px 40px;
}

header .left{ margin-top: 20px; }
header .right{ margin-top: 20px; }
header .right a{ padding: 6px;     font-size: 20px; margin-right: 0px; }
header .right i{ color: #000; transform: scale(1); transition: all 0.5s;}
header .right i:hover{ color: #a82c22; transform: scale(1.2); transition: all 0.5s;}

.logo-img img{
    /*margin: -12px;*/
    margin-bottom: -25px;
    width: 180px;
}
.logo-img{ text-align:center;}
.share-links{
    position: relative;
}

ul.share-dropdown{
    position: absolute;
    margin-top: 15px;
    z-index: 9999;
    background: #fff;
    border: 1px solid #1c1a1a3b;
    border-radius: 1px;
    text-align: left;
    padding: 20px 14px;
    right: 0;
    min-width: 200px;
    transition: all 0.5s;
	list-style: none;
}

ul.share-dropdown li{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

ul.share-dropdown li:last-child{
    margin-bottom: unset;
    border-bottom: 0;
}

ul.share-dropdown li i{ 
    background: #eee;
    padding: 5px;
   
}

.hide-drop {
    display: none;
}

ul.share-dropdown li a{
    text-decoration: none;
    color:#222;
    font-size: 14px;
}

ul.share-dropdown li a:hover{
color: #ffffff;
    background: #1d5aaa;
}


/* layer 1 */
.subhead {
    background-color: #E2E0E1;
    margin-top: 35px;
	max-height: 50px;
}

.sub-head-main {
    /*font-family: "Verdana", sans-serif;*/
    font-weight: 800;
    line-height: 1;
	font-size: 16px;
    vertical-align: middle;
	margin-top: 5px;
    margin-bottom: 0;
}
.sub-head-main p { margin-bottom : 0px; }
.site-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 2rem;
}
.article-title {
    margin-top: 4rem;
    font-weight: 500;
	font-size: 3rem;
	line-height: 1.2;
}
.banner-caption {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 5px;
    color: #444444;
}
.copy-text {
	font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
	line-height: 1.4;
}
.product {
    border-top: 2px solid #fdc800;
    background-color: #E2E0E1;
    margin-top: 25px;
	padding:1rem;
}
.product-img {
    width: 220px;
    margin: 0 auto;
    display: block;
}


/* slider css */
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: unset !important;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    box-shadow: unset !important;
	padding:10px;
}
.jcarousel li {
    padding: 5px;
    background: #f1f1f1;
    border: unset !important;
}
.jcarousel img {
    margin-bottom: 20px;
}
.jcarousel ul {
	display:flex;
	flex-direction: row;
}
.jcarousel-control-next { right: 0 !important; }
.jcarousel-control-prev { left : 0 !important; }
.at-share-btn-elements {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.slide-title {
    font-weight: bold;
    line-height: 1.2;
    font-size: 16px;
}
.slide-body p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-family: 'Lato',sans-serif;
}
.btn-custom {
    display: block;
    margin: 5px auto;
    text-align: center;
    background-color: #fdc800;
    /*border: 1px solid #333;*/
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
}
.slide-body {
    min-height: 413px;
    display: flex;
    flex-direction: column;
}
/*
.cover-img {
    height: 720px;
    overflow: hidden;
	position: relative;
}
.cover-img picture {
    display: flex;
    justify-content: end;
    margin-top: -14%;
}
*/
@media (max-width: 1440px){
	/*.cover-img picture { margin-top: -8%;}
	.cover-img { height: 690px;}*/
}

@media (max-width: 1024px){
	/*.cover-img picture { margin-top: -5%;}*/
	.slide-title {
		min-height: 54px;
	}	
	.slide-body {
		min-height: 495px;
	}
}


@media (max-width: 768px){
	/*.cover-img { height: 768px;}
	.cover-img picture { margin-top: -33%;}*/
	/*.slide-body { min-height: 220px;}*/
}

@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {
	.visible-xs{
		display:block;
	}
	.hidden-xs {
		display: none;
	}
	.mobile-right,.mobile-left {
		max-width: 49%;
		font-size: 0.8rem;
	}
	.mobile-right {text-align: end;}
	.article-title { font-size: 2rem }
	/*.cover-img { height: 490px;}*/
	.site-title { font-size: 1.4rem; }
	.slide-body { min-height: 160px;}
	.col-md-8.center {
		display: inline-block;
		max-width: 50% !important;
	}
	.col-md-2.left,
	.col-md-2.right {
		display: inline-block;
		max-width: 24% !important;
	}
	.css-share,
	.sub-head-main {
		font-size: 0.6rem;
		font-weight: 600;
	}
}

@media (max-width: 420px){
	.visible-xs{
		display:block;
	}
	.hidden-xs {
		display: none;
	}
	.mobile-right,.mobile-left {
		max-width: 49%;
		font-size: 0.8rem;
	}
	.mobile-right {text-align: end;}
	.article-title { font-size: 2rem }
	/*.cover-img { height: 490px;}*/
	.site-title { font-size: 1.4rem; }
	.slide-body { min-height: 160px;}
	.col-md-8.center {
		display: inline-block;
		max-width: 50% !important;
	}
	.col-md-2.left,
	.col-md-2.right {
		display: inline-block;
		max-width: 24% !important;
	}
	.css-share,
	.sub-head-main {
		font-size: 0.6rem;
		font-weight: 600;
	}
}