 .u-section-1 {
  background-image: none;
  min-height: 860px;
}

.u-section-1 .u-image-1 {
  height: 844px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 792px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 354px;
  min-height: 581px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: -774px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 7px;
}

.u-section-1 .u-text-1 {
  font-size: 1.75rem;
  margin: 19px 16px 0 21px;
}

.u-section-1 .u-line-1 {
  width: 297px;
  transform-origin: left center;
  margin: 13px auto 0;
}

.u-section-1 .u-form-1 {
  height: 433px;
  width: 303px;
  margin: 8px auto 0;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  padding-left: 70px;
  padding-right: 70px;
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.1;
  background-image: none;
  font-size: 2.5rem;
  margin: -379px calc(((100% - 1140px) / 2) + 378px) 0 calc(((100% - 1140px) / 2) + 57px);
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.375rem;
  font-weight: 400;
  margin: 21px calc(((100% - 1140px) / 2) + 478px) 0 calc(((100% - 1140px) / 2) + 57px);
}

.u-section-1 .u-list-1 {
  width: 1055px;
  margin: 251px auto 34px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 159px;
  grid-gap: 16px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 51px;
  width: 51px;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-icon-2 {
  height: 51px;
  width: 51px;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 7px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-icon-3 {
  height: 51px;
  width: 51px;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-icon-4 {
  height: 51px;
  width: 51px;
  margin: 3px auto 0;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  margin: 16px 11px 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 72px;
    margin-right: calc(((100% - 1140px) / 2) + 120px);
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 293px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 502px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -168px;
    margin-right: calc(((100% - 1140px) / 2) + 435px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 249px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 195px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 331px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -645px;
    margin-right: calc(((100% - 1140px) / 2) + 392px);
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 509px);
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-1 .u-list-1 {
    width: 712px;
    margin-top: 533px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 302px;
    grid-template-columns: repeat(2, calc(50% - 8px));
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 357px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -671px;
    margin-right: calc(((100% - 1140px) / 2) + 302px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-list-1 {
    width: 267px;
    margin-top: 584px;
    margin-left: calc(((100% - 1140px) / 2) + 437px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 574px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1790px;
  }

  .u-section-1 .u-group-1 {
    width: 335px;
    margin-top: -355px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 26px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-line-1 {
    width: 178px;
    margin-top: 26px;
  }

  .u-section-1 .u-form-1 {
    width: 303px;
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1;
    font-size: 1.875rem;
    width: 304px;
    margin-top: -923px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: 340px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 808px;
    margin-left: auto;
  }
}

.u-block-0092-7:not([data-block-selected]):not([data-cell-selected]),
.u-block-0092-7:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0092-7:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 825px;
}

.u-section-2 .u-text-1 {
  margin: 71px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  width: 746px;
  margin: 17px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  margin-top: 45px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 14px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-1 {
  transition-duration: 0.25s;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-2 {
  transition-duration: 0.25s;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-3 {
  transition-duration: 0.25s;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-4 {
  transition-duration: 0.25s;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-5 {
  transition-duration: 0.25s;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-6 {
  transition-duration: 0.25s;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 72.76%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 82px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 784px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2625px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1754px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1481px;
  }
} .u-section-3 {
  background-image: url("images/a14da026-d095-4d8f-a1ed-a2cb95605484.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 632px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 168px 0 0 421px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 17px 48px 60px 449px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-right: -39px;
    margin-left: 260px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: -14px;
    margin-left: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 79px;
    margin-right: 0;
    margin-left: 247px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
    margin-right: -53px;
    margin-left: 139px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 9px;
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 127px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 127px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 717px;
}

.u-section-4 .u-text-1 {
  margin: 48px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 11px 12px 0 0;
}

.u-section-4 .u-image-1 {
  height: 489px;
  width: 307px;
  filter: brightness(0.9);
  margin: 40px auto 0 0;
}

.u-section-4 .u-image-2 {
  height: 258px;
  filter: brightness(0.9);
  width: 251px;
  margin: -489px auto 0 576px;
}

.u-section-4 .u-image-3 {
  height: 258px;
  filter: brightness(0.9);
  width: 249px;
  margin: -257px auto 0 321px;
}

.u-section-4 .u-image-4 {
  height: 487px;
  filter: brightness(0.9);
  width: 301px;
  margin: -258px auto 0 839px;
}

.u-section-4 .u-text-3 {
  width: 424px;
  margin: -188px auto 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 617px;
    margin-right: 278px;
    margin-left: 263px;
  }

  .u-section-4 .u-text-2 {
    width: 307px;
    margin-top: -68px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 545px;
    width: 447px;
    margin-top: -601px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    height: 545px;
    width: 450px;
    margin-top: -830px;
    margin-left: 639px;
  }

  .u-section-4 .u-text-3 {
    width: 369px;
    margin-top: 110px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 14px;
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 583px;
    margin-right: 117px;
    margin-left: 70px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -71px;
  }

  .u-section-4 .u-image-1 {
    height: 524px;
    width: 332px;
    margin-top: -577px;
  }

  .u-section-4 .u-image-2 {
    width: 341px;
    margin-top: 249px;
    margin-right: auto;
    margin-left: 379px;
  }

  .u-section-4 .u-image-3 {
    width: 341px;
  }

  .u-section-4 .u-image-4 {
    height: 524px;
    width: 341px;
    margin-top: -1032px;
    margin-left: 419px;
  }

  .u-section-4 .u-text-3 {
    width: 508px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 455px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 111px;
    margin-left: 123px;
  }

  .u-section-4 .u-image-1 {
    height: 406px;
    width: 250px;
    margin-top: -449px;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    margin-top: 231px;
    margin-right: 0;
    margin-left: 289px;
  }

  .u-section-4 .u-image-3 {
    width: 250px;
  }

  .u-section-4 .u-image-4 {
    height: 409px;
    width: 250px;
    margin-top: -897px;
    margin-left: 239px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 90px;
    margin-left: 19px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 706px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -72px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 393px;
    margin-top: -655px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 387px;
    margin-top: 715px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 215px;
    margin-top: -1085px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-4 {
    height: 215px;
    margin-top: 244px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -375px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 10px;
    margin-left: auto;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-5 .u-sheet-1 {
  min-height: 731px;
}

.u-section-5 .u-text-1 {
  margin: 61px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 183px 0 211px;
}

.u-section-5 .u-gallery-1 {
  height: 357px;
  width: 1070px;
  grid-gap: 17px;
  margin: 61px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 14px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-5 .u-back-image-1 {
  object-position: 33.24% 50%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 82px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 82px;
}

.u-section-5 .u-icon-1 {
  width: 95px;
  height: 95px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -392px auto 0 451px;
  padding: 7px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 310px 556px 0 14px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -26px -14px 0 584px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 180px;
  padding: 9px 58px 11px 57px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 152px 60px auto;
  padding: 9px 58px 11px 57px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 83px;
    margin-left: 111px;
  }

  .u-section-5 .u-gallery-1 {
    height: 314px;
    width: 940px;
    margin-top: 626px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -388px;
    margin-left: 372px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 337px;
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    width: 375px;
    margin-top: 20px;
    margin-left: 484px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -98px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 962px;
    width: 720px;
    margin-top: 19px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-icon-1 {
    margin-left: 285px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 374px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-5 .u-gallery-1 {
    height: 722px;
    width: 540px;
    margin-top: 244px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 214px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-5 .u-gallery-1 {
    height: 683px;
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-gap: 100px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -716px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 240px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 366px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 23px;
    margin-left: auto;
    padding-right: 39px;
    padding-left: 38px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: -434px;
    margin-right: auto;
    padding-right: 36px;
    padding-left: 35px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 503px;
}

.u-section-6 .u-image-1 {
  height: 330px;
  filter: brightness(0.9);
  width: 305px;
  object-position: 0% 50%;
  margin: 84px 28px 0 auto;
}

.u-section-6 .u-image-2 {
  height: 330px;
  filter: brightness(0.9);
  width: 305px;
  margin: -330px 343px 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: -330px 816px 0 17px;
}

.u-section-6 .u-text-2 {
  margin: 28px 772px 0 17px;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  margin: 18px 755px 60px 17px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-6 .u-image-1 {
    width: 389px;
    margin-top: 345px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 390px;
    margin-top: -675px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -235px;
    margin-right: 613px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 569px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 569px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 413px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 390px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 413px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-6 .u-image-1 {
    height: 241px;
    width: 261px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 235px;
    width: 261px;
    margin-top: -241px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 23px;
    margin-right: 233px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 257px;
    margin-top: -519px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: -464px;
    margin-right: 33px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 7px;
    margin-bottom: 129px;
  }
}.u-block-1db2-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-1db2-5 {
  position: absolute;
  top: 344px;
  left: calc(((100% - 1140px) / 2)  + 51px);
  width: 24px;
  height: 24px;
  right: auto;
}

.u-block-1db2-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 343px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 69px);
}

@media (max-width: 1199px) {
  .u-block-1db2-5 {
    left: calc(((100% - 940px) / 2)  + 42px);
  }

  .u-block-1db2-4 {
    right: calc(((100% - 940px) / 2)  + 57px);
  }
}

@media (max-width: 991px) {
  .u-block-1db2-5 {
    left: calc(((100% - 720px) / 2)  + 32px);
  }

  .u-block-1db2-4 {
    right: calc(((100% - 720px) / 2)  + 44px);
  }
}

@media (max-width: 767px) {
  .u-block-1db2-5 {
    left: calc(((100% - 540px) / 2)  + 24px);
  }

  .u-block-1db2-4 {
    right: calc(((100% - 540px) / 2)  + 33px);
  }
}

@media (max-width: 575px) {
  .u-block-1db2-5 {
    left: calc(((100% - 340px) / 2)  + 15px);
  }

  .u-block-1db2-4 {
    right: calc(((100% - 340px) / 2)  + 21px);
  }
}

 .u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-7-1 .u-text-1 {
  width: 484px;
  margin: 26px auto 0;
}

.u-section-7-1 .u-text-2 {
  width: 577px;
  font-size: 0.875rem;
  margin: 18px auto 0;
}

.u-section-7-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 941px;
  margin: 68px auto 60px;
}

.u-section-7-1 .u-image-1 {
  min-height: 447px;
  pointer-events: auto;
  background-image: url("images/a4b8857c-0148-4056-b952-e99c22dc7061.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7-1 .u-layout-cell-2 {
  min-height: 447px;
  pointer-events: auto;
}

.u-section-7-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7-1 .u-text-3 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 110px auto 0 0;
}

.u-section-7-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-7-1 .u-text-5 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 342px;
  }

  .u-section-7-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-text-2 {
    width: 540px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 513px;
  }

  .u-section-7-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7-1 .u-text-4 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-7-1 .u-text-5 {
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-7-1 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-1 .u-text-2 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 249px;
    margin-top: 72px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 231px;
  }

  .u-section-7-1 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-7-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-7-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-7-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 18px;
  }

  .u-section-7-1 .u-text-5 {
    margin-top: 24px;
  }
}

 .u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 868px;
}

.u-section-7-2 .u-text-1 {
  margin: 48px 317px 0 339px;
}

.u-section-7-2 .u-text-2 {
  width: 577px;
  margin: 12px auto 0;
}

.u-section-7-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 940px;
  margin: 63px auto 60px;
}

.u-section-7-2 .u-image-1 {
  min-height: 433px;
  pointer-events: auto;
  background-image: url("images/01_grilling_--__w_760_.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7-2 .u-layout-cell-2 {
  min-height: 433px;
  pointer-events: auto;
}

.u-section-7-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7-2 .u-text-3 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 110px auto 0 0;
}

.u-section-7-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-7-2 .u-text-5 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-7-2 .u-text-1 {
    margin-right: 217px;
    margin-left: 239px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-7-2 .u-text-1 {
    margin-right: 107px;
    margin-left: 129px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 26px;
    width: 720px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 332px;
  }

  .u-section-7-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-7-2 .u-text-1 {
    margin-right: 17px;
    margin-left: 39px;
  }

  .u-section-7-2 .u-text-2 {
    width: 540px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 2px;
    width: 540px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 498px;
  }

  .u-section-7-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-2 .u-container-layout-2 {
    padding: 20px 0;
  }

  .u-section-7-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
  }

  .u-section-7-2 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7-2 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-7-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-2 .u-text-2 {
    width: 340px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 248px;
    margin-top: 21px;
    margin-bottom: 0;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 231px;
  }

  .u-section-7-2 .u-layout-cell-2 {
    min-height: 403px;
  }

  .u-section-7-2 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-7-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7-2 .u-text-5 {
    margin-top: 29px;
    margin-right: -5px;
    margin-left: 5px;
  }
}

 .u-section-7-3 {
  background-image: none;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-7-3 .u-text-1 {
  margin: 48px 317px 0 339px;
}

.u-section-7-3 .u-text-2 {
  width: 577px;
  margin: 12px auto 0;
}

.u-section-7-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 937px;
  margin: 55px auto 60px;
}

.u-section-7-3 .u-image-1 {
  min-height: 445px;
  pointer-events: auto;
  background-image: url("images/2f9f8f56-fcab-435c-832d-ffc05be188a7.png");
  background-position: 50% 50%;
}

.u-section-7-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7-3 .u-layout-cell-2 {
  min-height: 445px;
  pointer-events: auto;
}

.u-section-7-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7-3 .u-text-3 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 110px auto 0 0;
}

.u-section-7-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-7-3 .u-text-5 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-7-3 .u-text-1 {
    margin-right: 217px;
    margin-left: 239px;
  }

  .u-section-7-3 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-7-3 .u-text-1 {
    margin-right: 107px;
    margin-left: 129px;
  }

  .u-section-7-3 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-bottom: 35px;
    width: 720px;
  }

  .u-section-7-3 .u-image-1 {
    min-height: 342px;
  }

  .u-section-7-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-7-3 .u-text-1 {
    margin-right: 17px;
    margin-left: 39px;
  }

  .u-section-7-3 .u-text-2 {
    width: 540px;
  }

  .u-section-7-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    width: 540px;
  }

  .u-section-7-3 .u-image-1 {
    min-height: 513px;
  }

  .u-section-7-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7-3 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 20px;
  }

  .u-section-7-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-7-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-3 .u-text-2 {
    width: 340px;
  }

  .u-section-7-3 .u-layout-wrap-1 {
    width: 244px;
    margin-bottom: 60px;
  }

  .u-section-7-3 .u-image-1 {
    min-height: 232px;
  }

  .u-section-7-3 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-7-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-7-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-7-3 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-7-3 .u-text-5 {
    margin-right: 0;
    margin-bottom: -10px;
  }
}

 .u-section-7-4 {
  background-image: none;
}

.u-section-7-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-7-4 .u-text-1 {
  margin: 48px 317px 0 339px;
}

.u-section-7-4 .u-text-2 {
  width: 577px;
  margin: 12px auto 0;
}

.u-section-7-4 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 932px;
  margin: 63px auto 60px;
}

.u-section-7-4 .u-image-1 {
  min-height: 451px;
  pointer-events: auto;
  background-image: url("images/44b09e2643e84aa1b464fe5df6ec64e6.jpg");
  background-position: 50% 50%;
}

.u-section-7-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7-4 .u-layout-cell-2 {
  min-height: 451px;
  pointer-events: auto;
}

.u-section-7-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7-4 .u-text-3 {
  font-weight: 300;
  font-size: 1.875rem;
  margin: 110px auto 0 0;
}

.u-section-7-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-7-4 .u-text-5 {
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-7-4 .u-text-1 {
    margin-right: 217px;
    margin-left: 239px;
  }

  .u-section-7-4 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-7-4 .u-text-1 {
    margin-right: 107px;
    margin-left: 129px;
  }

  .u-section-7-4 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 50px;
    width: 720px;
  }

  .u-section-7-4 .u-image-1 {
    min-height: 348px;
  }

  .u-section-7-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-7-4 .u-text-1 {
    margin-right: 17px;
    margin-left: 39px;
  }

  .u-section-7-4 .u-text-2 {
    width: 540px;
  }

  .u-section-7-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
    width: 540px;
  }

  .u-section-7-4 .u-image-1 {
    min-height: 522px;
  }

  .u-section-7-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7-4 .u-container-layout-2 {
    padding: 18px 0;
  }

  .u-section-7-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7-4 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-right: 20px;
  }

  .u-section-7-4 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7-4 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-7-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7-4 .u-text-2 {
    width: 340px;
  }

  .u-section-7-4 .u-layout-wrap-1 {
    width: 245px;
    margin-bottom: 60px;
    margin-left: 40px;
  }

  .u-section-7-4 .u-image-1 {
    min-height: 234px;
  }

  .u-section-7-4 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-7-4 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-7-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-7-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-7-4 .u-text-5 {
    margin-right: 0;
    margin-bottom: -10px;
  }
}

.u-block-cff5-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-cff5-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cff5-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-cff5-18:not([data-block-selected]):not([data-cell-selected]),
.u-block-cff5-18:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-cff5-18:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/019ac83f-36b3-421e-aae4-3eea0252af5f.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 638px;
}

.u-section-8 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  margin: 279px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 0 2px 8px rgba(128,128,128,1);
  margin: 11px 0 60px 33px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 569px;
}

.u-section-9 .u-text-1 {
  font-size: 0.875rem;
  margin: 47px 0 0;
}

.u-section-9 .u-text-2 {
  width: 680px;
  margin: 2px auto 0;
}

.u-section-9 .u-video-1 {
  height: 362px;
  width: 800px;
  margin: 38px auto 58px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-9 .u-video-1 {
    height: 326px;
    width: 720px;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-video-1 {
    height: 245px;
    width: 540px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-video-1 {
    height: 278px;
    margin-top: 31px;
    margin-bottom: 58px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-block-001b-12:not([data-block-selected]):not([data-cell-selected]),
.u-block-001b-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-001b-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 422px;
}

.u-section-10 .u-image-1 {
  height: 321px;
  filter: brightness(0.9);
  width: 352px;
  margin: 40px auto 0 343px;
}

.u-section-10 .u-image-2 {
  height: 321px;
  filter: brightness(0.9);
  width: 334px;
  margin: -321px auto 0 0;
}

.u-section-10 .u-text-1 {
  font-size: 1rem;
  margin: -277px 22px 0 718px;
}

.u-section-10 .u-text-2 {
  margin: 23px 61px 0 718px;
}

.u-section-10 .u-text-3 {
  margin: 22px 61px 60px 718px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-10 .u-image-1 {
    height: 290px;
    width: 318px;
    margin-top: 12px;
    margin-right: 296px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    height: 290px;
    width: 302px;
    margin-top: -290px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: -290px;
    margin-right: 67px;
    margin-left: 666px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 39px;
    margin-left: 666px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin: 12px 39px 30px 666px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-10 .u-image-1 {
    height: 405px;
    width: 445px;
    margin-top: 328px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    width: 445px;
    margin-top: -706px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -179px;
    margin-right: 27px;
    margin-left: 486px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 11px;
    margin-left: 486px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 11px;
    margin-bottom: 60px;
    margin-left: 486px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-10 .u-image-1 {
    height: 246px;
    width: 270px;
    margin-top: 268px;
  }

  .u-section-10 .u-image-2 {
    height: 246px;
    width: 270px;
    margin-top: -510px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -161px;
    margin-right: 32px;
    margin-left: 292px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 17px;
    margin-right: 32px;
    margin-left: 292px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 17px;
    margin-right: 22px;
    margin-left: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-10 .u-image-1 {
    height: 310px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    margin-top: -575px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-1 {
    margin-top: -465px;
    margin-right: 133px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin: 15px 0 153px;
  }
} .u-section-11 {
  background-image: url("images/d67ab142-dc9b-44cd-89fd-501c318dc457.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 708px;
}

.u-section-11 .u-text-1 {
  font-size: 2.8125rem;
  margin: 134px 669px 0 15px;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 35px 640px 0 15px;
}

.u-section-11 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  border-style: solid;
  font-size: 1rem;
  background-image: none;
  margin: 35px auto 60px 15px;
  padding: 10px 72px 10px 71px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 455px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    background-size: auto 130%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 264px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.5625rem;
    width: auto;
    margin-top: 168px;
    margin-right: 207px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-right: 55px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    background-position: 43.52% 84.96%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5625rem;
    margin-top: 353px;
    margin-right: 61px;
    margin-left: 14px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
    margin-top: 22px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 52px;
    margin-left: 14px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.u-section-11 .u-btn-1,
.u-section-11 .u-btn-1:before,
.u-section-11 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}