 .u-section-1 {
  min-height: 704px;
  background-image: url("images/young-asian-pregnant-couple-hug-holding-belly-talking-with-their-child-mom-dad-feeling-happy-smiling-peaceful-while-take-care-baby-pregnancy-near-window-living-room-home.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-group-1 {
  width: 482px;
  min-height: 471px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 103px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 211px;
  height: 53px;
  margin: 42px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 43px 0 0 10px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  margin: 27px 0 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  font-weight: normal;
  margin: 34px auto 0 10px;
  padding: 13px 39px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 231px;
    height: 58px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 160px;
    height: 40px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}