/*@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(//db.onlinewebfonts.com/c/32441506567156636049eb850b53f02a?family=Times+New+Roman);
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@1,300&display=swap');
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

    overflow-y: auto;
}
html {
  scroll-behavior: smooth;
}
/* Typography
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 
{ 
	font-family: 'Open Sans', sans-serif; 
    color: #222; 
    font-weight: 600; 
    line-height: 1.5; 
    margin: 0 0 15px; 
    text-rendering: optimizeLegibility; 
}
.spacer{
	height:5rem;
}
.airdown h2{
     margin-bottom: 2rem;
}
.airdown h2:after{
    content: "";
    height: 4px;
    left: 31px;
    position: absolute;
    width: 36px;
    margin-top: 3rem;
    background: #34b3b2;
}
.sub-head{
    font-weight: bold;
    margin: 9px 0px 5px;
}
.common-heading{
    font-family: 'Open Sans', sans-serif; 
    color: #934788;
    font-weight: 700; 
    line-height: 1.5; 
    margin: 0 0 15px; 
    font-size: 28px;
    text-rendering: optimizeLegibility; 
}
.common-para{
    font-family: 'Lato', sans-serif;
    color: #010000;
    /*font-weight: 500;*/
    line-height: 20px;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    text-align: justify;
	

}
.border-copy{
	border-top: 2px solid #F3A939;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #F3A939;
	position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 32px;
	justify-content: center;
    align-items: center;
}
.why-choose .container {
    position: relative;
}
img.top-image-left-hero2 {
    position: absolute;
    top: -7.5rem;
    left: 7rem;
    width: 15rem;
}

img.top-image-right-hero2 {
    position: absolute;
    right: 4rem;
    width: 25rem;
    top: -1.6rem;
}

img.bottom-image-hero2 {
    position: absolute;
    left: 6rem;
    bottom: -1.5rem;
    width: 25rem;
}
.aos-animate[data-aos="expand-col"] {
    -webkit-transition: height 1.5s cubic-bezier(.56,.15,0,.92);
    transition: height 1.5s cubic-bezier(.56,.15,0,.92);
    height: 10em;
}
.side-image-left {
    position: absolute;
    top: 29rem;
    max-width: 100%;
    height: 7rem !important;
    left: 0rem;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.side-image-right {
    position: absolute;
    height: 7rem;
    top: 80rem;
    right: 0;
    
}

.side-image-hero {
    position: absolute;
    bottom: -7rem;
    max-width: 50%;
    height: 18rem;
    z-index: 1;
}
.visible-xs{
	display:none;
}
.hidden-xs {
    display: block;
}
.head-h2{
    color: #34b3b2;
    font-size: 32px;
    margin-bottom: 25px;
    text-decoration: none;
    font-weight: 900;
    line-height: 40px;
    font-family: "Lato", sans-serif;
    text-align: end;
}
.quote{
    font-style: italic;
    font-size: 41px;
    color: #808080;
    line-height: 1.2;
    font-family: 'Merriweather', serif;
}
.wid{
    width:100%;
}
.read-more{
    color: #f16eaf;
    font-size: 17px;
    font-weight: 500; 
    line-height: 2; 
    margin: 0 0 30px; 
}
.num{
    font-family: 'Open Sans', sans-serif!important;

}



header {
    padding: 0px 40px 0px 40px;
}

header .left{ margin-top: 20px; }
header .right{ margin-top: 20px; }
header .right a{ padding: 6px;     font-size: 20px; margin-right: 0px; }
header .right i{ color: #000; transform: scale(1); transition: all 0.5s;}
header .right i:hover{ color: #a82c22; transform: scale(1.2); transition: all 0.5s;}

.css-header-link{
    background: #fff;
}
.css-container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.css-row{   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.css-col-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.css-col-4 a{ padding: 15px 0; display: inline-block; }
.css-fa{
    font-size: 25px;
    color: #000;
}
.center{
    text-align: center;
}
.right{
    text-align:right;
}
.css-share{
    font-size: 16px;
    font-weight: 800;
    /*margin-right: 35px;*/
    color: #000 !important;

}


.logo-img img{
    /*margin: -12px;*/
        margin-bottom: -46px;
    width: 130px;
}

.logo-img{ text-align:center;}


.why-choose a {
    background: transparent;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 75%;
    text-align: center;
    line-height: 60px;
    font-size: 48px;
    font-weight: 900;
    float: left;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
}
.light-color{
	color: #34b3b2 !important;
}

/*#header .site-branding img {
    max-height: 60px;
}
#header .navbar-light .navbar-nav .nav-link {
    color: #2f2f2f;
    font-weight: 700;
    font-size: 15px;
}*/
.site-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: 790px;
    position: relative;
    display: block;
    margin-top: 30px;
    overflow: initial;
}
.dark-color{color:#34b3b2 !important;}
.site-banner img.responsive{ max-width: 100%; height: auto; }


.site-banner2{ 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	height:auto;
	position: relative;
    display: inline-block;
 }

.site-banner2::before{ 
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     content: "";
     background: rgb(18 18 18 / 18%);
}

.site-banner2 img{ max-width: 100%; height: auto;  }

.mainhead{ display: flex; }



.fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0;
    z-index: 9999;
    background: #fff;
    transition: all 500ms ease;
    -webkit-animation-name: menu_sticky;
    animation-name: menu_sticky;
    -webkit-animation-duration: 0.60s;
    animation-duration: 0.60s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    box-shadow: 0px 3px 20px 0px rgb(0 0 0 / 11%);
}
.nav-call{
    background: #ed6cac;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
}
.nav-call:hover{
    color: #fff;
}
.site-banner .ban {
    position: absolute;
    bottom: 8rem;
    
}


.site-banner2 .ban{
    position: absolute;
    bottom: 15rem;
    left: -100px;
}
.site-banner .banner-content .banner-heading {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    line-height: 60px;
    margin: 0 0 30px;
    font-size: 50px;
    text-shadow: 2px 3px 10px #000000ab;
    text-transform: uppercase;
}

.site-banner2 .banner-content .banner-heading{
    color: #fff;
    font-family: 'Lato', sans-serif;
	font-weight: 900;
    line-height: 40px;
    margin: 0 0 15px;
    font-size: 36px;
    background: #34b3b2;
    padding: 10px 15px;
    display: inline-block;

}


.site-banner .banner-content .para {
    color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    margin: 0 0 10px;
    font-size: 25px;
    /*text-shadow: 2px 5px 8px #000;*/
    background: #34b3b2;
    padding: 10px 15px;
    width: auto;
    max-width: fit-content;
}

.site-banner2 .banner-content .para{
    color: #fff;
    font-family: 'Open Sans', sans-serif;  
   line-height: 30px;
    margin: 0 0 30px;
    font-size: 25px;
    font-weight: 400;
    padding: 0 130px 0 0;
}

.btn-one{
	background:#f16eaf;
    color: #fff;
    border-radius: 17px;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: inherit;
    line-height: 16px;
    margin: 0px;
    padding: 20px 35px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transform-origin: 50% 50% 0px;
    box-shadow: 2px 15px 13px 0px rgb(0 0 0 / 18%);
}
.btn-one:hover{
	color: #fff;
}
.appointment-form{
	background:#ffffff9e;
	padding: 40px;
	border-radius: 15px;
	margin:0 15px 30px;
}
.appointment-form .form-heading{
	color: #934788;
	font-size: 25px;
	margin: 0 0 30px;
	text-align: center;
	font-weight: 700;
}
.appointment-form .input-container {
	padding-top: 1em;
}
.appointment-form .left-inner-addon {
    position: relative;
}
.appointment-form .right-inner-addon {
    position: relative;
}
.appointment-form .right-inner-addon input {
    padding-right: 35px !important;
}
.appointment-form .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 12px 12px;
    pointer-events: none;
    color: #934788;
    font-size: 16px;
}
.appointment-form .right-inner-addon-b {
    position: relative;
}
.appointment-form .right-inner-addon-b input {
    padding-right: 35px !important;
}
.appointment-form .right-inner-addon-b i {
    position: absolute;
    right: 0px;
    padding: 15px 20px;
    pointer-events: none;
    color: #934788;
    font-size: 16px;
}
.appointment-form .form-control{
	padding: 10px 14px !important;
	border-radius: 15px;
}
.appointment-form input {
        width: 100%;
		padding: 1em !important;
		margin: 0em !important;
		box-sizing: border-box;
}
.appointment-form select.form-control:not([size]):not([multiple]) {
    height: calc(2.90rem + 2px);
}
.appointment-form select:after {
 
    padding-right: 50px;
}
.appointment-form .form-control:focus{
    box-shadow: none;

}
select{
  -webkit-appearance: none;
  appearance: none;
  }
  .select-wrapper {
  position: relative;
  padding-top: 1em;
}

.select-wrapper::after {
  /*content: "▼";*/
  content: '\f107';
  font-family: FontAwesome;
  top: 12px;
    right: 11px;
    position: absolute;
    top:24px;
    color: #934788;
    font-weight: 900;
    font-size: 24px;
}

.why-choose{
    padding: 40px 0;
	position: relative;
}
.why-choose p.bold{
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #2f2f2f;
}
.counter-project{
    background-color: #934788;
    padding: 40px;
    border-radius: 20px;
}
.counter {  
   border-right: 1px solid #fff;
}
.brd{  
   border-right: 0px solid #fff!important;
}
.counter .count-title {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
}
.counter span {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    color: #fff;
}
.counter .count-text {
   font-size: 20px;
   font-weight: 500;
   margin-top: 20px;
   margin-bottom: 0;
   color: #fff;
}
.img {
    margin-bottom: 20px;
    width:60px;
}
.center{
    text-align:center;
    
}

.css-header-link .center{ padding: 0px 0 0px 0; }

.treatment-list{
    padding: 90px 0;
}
.owl-carousel .owl-nav button.owl-prev {
    border-radius: 50%;
    position: absolute!important;
    left: -52px!important;
    bottom: 170px!important;
    padding:1px 9px 7px!important;
    background:#fff;
    border: 3px solid #934788!important;
    color: #934788!important;
    font-size: 38px!important;
}
.owl-carousel .owl-nav button.owl-next {
    border-radius: 50%;
    position: absolute!important;
    right: -52px!important;
    bottom: 170px!important;
    padding:1px 9px 7px!important;
    background:#fff;    
    border: 3px solid #934788!important;
    color: #934788!important;
    font-size: 38px!important;
}
button:focus{
    outline: none!important;
}
#list-slider .owl-carousel .owl-nav button.owl-prev span:hover, #list-slider .owl-carousel .owl-nav  button.owl-next span:hover{
    background:#934788;
    color: #fff;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block!important;
}

 .list-item{
    background: #fff;
    box-shadow: inset -9px 0px 15px rgb(0 0 0 / 11%);
    margin: 0 auto;
    padding: 20px;
    height: 350px;
    border-radius: 10px;

}
.list-item .icon{
    padding: 20px 12px;
    background: #f16eAf;
    line-height: 50px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
#map-tab .tab-content {
  color : white;
}


#map-tab .nav-pills{
    background: #000;
    padding: 25px;
    color: #fff;
}
#map-tab .nav-pills a{ 
    color: #fff;
    padding: 0 16px;
    font-weight: 600;
    font-size: 17px;
/*    border-right: 1px solid #fff;
*/}


#map-tab img{
    width: 60%;
    position: relative;
    transform: scale(0.9);
    transition: all 0.5s;
}

#map-tab img:hover{ transform: scale(1); transition: all 0.5s; }

.banner2{  }


#map-tab .tab-pane{ display: flex; text-align: left; border: 2px solid #ccc; padding: 15px 0; background-color: #fff;  transition: all 0.5s;}
#map-tab .tab-pane:hover{ border: 2px solid #126fd3; background-color: #f1efef; transition: all 0.5s;}
li{ list-style-type: none; }
.viewssite{ 
    background: #126fd3;
    color: #fff;
    padding: 15px 25px;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 20px 0;
 }

#map-tab .tab-pane .cos2 a{
  background: #fff;
    color: #126fd3;
    padding: 10px 10px 10px 24px;
    font-size: 15px;
    display: inline-block;
    font-weight: bold; 
    border: 2px solid #126fd3;}


#map-tab .tab-pane .cos2 a:focus { background:#126fd3 ; transition: all 0.5; color: #fff;  text-decoration: none;}
#map-tab .tab-pane .cos2 a:focus i{ color: #fff; }

#map-tab .tab-pane .cos1{ text-align: center; position: relative; }
/*#map-tab .tab-pane .cos1::before{
    position: absolute;
    content: "";
    background: #fbfafa;
    top: 190px;
    left: 50px;
    right: 50px;
    bottom: 25px;
    border-radius: 50%;
 }*/

#map-tab .tab-pane .cos2{ color:#000; }
#map-tab .tab-pane .cos2 p{ font-weight: bold; }
#map-tab .tab-pane .cos2 li i{ color:#38b50f ; }


#map-tab .cos2 .collapse{ display: block; }
#map-tab .cos2 .collapse ul{ display: none; }
#map-tab .cos2 .collapse.show ul{ display: block; }

.cosread i{ /*border:3px solid #fff; border-radius: 50%;*/ /*color: #fff*/; padding: 3px 5px;  }
.cosread{ background: #126fd3;
    color: #fff;
    padding: 10px 13px;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin: 0 0 20px 0;}
.click-effect {
	color: #000 !important;
    background: transparent !important;
    border: unset !important;
}
.click-effect i {
    color: #000 !important;
}
#map-tab .cos2 .collapse p{ font-weight: bold;
/*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    hyphens: auto; 
    display: block;*/}

#map-tab .cos2 .collapse.show p{ font-weight: bold;
/*text-overflow: ellipsis;
    overflow: initial;
    white-space: inherit;
    word-wrap: break-word;
    hyphens: auto;*/ }    



 #map-tab .tab-pane i{margin-left: -25px;    
    font-size: 16px;
    margin-right: 9px;}

 #map-tab .tab-pane ul{
    padding: 10px 30px;
 }
 #map-tab .tab-pane ol{
    padding: 10px 30px;
 }
 .ul-top{
    margin-top: -35px;
 }
 .read{
    margin-left: 4px!important;
    font-size: 16px!important;
    margin-right: 5px!important;
    font-weight: 800!important;
}
.view-btn{
    
   padding: 10px 38px!important;
    font-size: 15px!important;
    display: inline-block!important;
    border: 2px solid #126fd3!important;
    border-radius: 4px!important;
    margin: 10px -30px!important;
}
.collapse.show{ overflow: hidden; }



.frame-card {
    position: absolute;
    top: 25%;
    left: 40px;
    width: 300px;
    background: #fff;
    color: #000;
    padding: 30px;
    font-size: 13px;
}
.frame-header span {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #375664;
    padding-bottom: 2px;
}
.frame-subhead {
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
}
.frame-card i{
    font-size: 16px;
    padding-right: 9px;
    color: #f06eae;
}
.frame-card a{
    color: #2f2f2f;
}
.testimonial{
     padding: 90px 0;
}
.testimonial .owl-prev,.testimonial .owl-next{
    display: none;
}
.testimonial .owl-dots{
    margin-top:30px;
    text-align:center;
}
.testimonial .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.testimonial .text-1{
    top: 10%;
    position: absolute;
    color: #fff;
    font-size: 21px;
    padding: 15px;
    font-weight: 500;
}
.testimonial .text-2{ 
    top: 16%;
    position: absolute;
    color: #ffffffb3;
    font-size: 17px;
    padding: 15px;
    font-weight: 500;
}
.testimonial .owl-dots .owl-dot.active span{
   background: #f16eAf;
}
.testimonial .owl-carousel.owl-drag .owl-item{
    box-shadow:2px 3px 10px 1px #42424247;
}
.cont{
    padding: 30px;
}
.testimonial .card{
    height:545px;
}
.testimonial .card img:after{
    background:#222;
    height: 200px;

}
.checked { color: #FFED85;  } 
.faq div[data-toggle="collapse"]{
     width: 100%;
    cursor: pointer;
    padding: 2%;
    background: #fff;
    box-shadow: 5px 5px 7px #3333335c;
    font-size: 16px;
    color: #f16eAf;
    font-weight: 600;
    margin-bottom: 10px;
}
.faq ul li{
    list-style:none;

}
.faq .icon{
    border: 2px solid #f16eaf;
    color: #f16eaf;
    padding: 3px 2px;
    border-radius: 50%;
    font-weight:600;
    width: 25px;
    height: 25px;
    line-height: 16px;
    text-align: center;
    font-size: 25px;
}
.faq ul li::marker{
    display: none;
    
}
.faq .collapse{
    background:#fff;
    padding: 10px;
}
.button-section{
    padding: 40px 0;
}
.button-section .b-1{
    background: #f16eAf;
    border-radius: 25px;
    padding: 10px 16px;
    font-size:15px; 
    color: #fff;
    margin: 15px;
    font-weight: 600;
}
.button-section .b-1:hover{
    color: #fff;
}
.button-section .b-2{
    background: #fff;
    border: 2px solid #f16eAf;
    border-radius: 25px;
    padding: 10px 16px;
    font-size:15px; 
    color: #f16eAf;
    margin: 15px;
    font-weight: 600;
}
.button-section .b-2:hover{
    background: #f16eAf;
    color: #fff;
}
.footer-top{
    padding: 30px 0;
    box-shadow: 0px 0px 10px 4px #33333340;
}
.right{
    text-align: right;
}
.footer-top .info{
    color: #2f2f2f;
    font-size: 17;
    font-weight: 500;
    margin-bottom: 10;
}
.footer-bottom {
    padding: 15px 0;
    background: #934788; 
}
.footer-bottom .copyright{
    color: #fff;
    text-align: center;
 }
 #btn-back-to-top {
  position: fixed;
  bottom: 35%;
  right: 20px;
  display: none;
  z-index: 1;
}
 #btn-back-to-top img{
    cursor: pointer;
 }

.airdown{ padding: 10px 0 40px; }







@media (min-width: 992px){
#header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}
@media (min-width: 992px) and (max-width: 1024px){
.testimonial .card{
    height:600px;
}
}
.share-links{
    position: relative;
}

ul.share-dropdown{
    position: absolute;
    margin-top: 15px;
    z-index: 9999;
    background: #fff;
    border: 1px solid #1c1a1a3b;
    border-radius: 1px;
    text-align: left;
    padding: 20px 14px;
    right: 0;
    min-width: 200px;
    transition: all 0.5s;
}

ul.share-dropdown li{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

ul.share-dropdown li:last-child{
    margin-bottom: unset;
    border-bottom: 0;
}

ul.share-dropdown li i{ 
    background: #eee;
    padding: 5px;
   
}

.hide-drop {
    display: none;
}

ul.share-dropdown li a{
    text-decoration: none;
    color:#222;
    font-size: 14px;
}

ul.share-dropdown li a:hover{
color: #ffffff;
    background: #1d5aaa;
}

@media (min-width: 1920px){
	.site-banner2 {
		height: auto;
		/*margin-bottom: 5rem;*/
	}
	img.bottom-image-hero2 {
		/*bottom: -8.1rem;*/
	}
	
}
@media (max-width: 1440px){
.site-banner{
	height: auto;
}
.side-image-hero {
    height: 14rem;
}
.aos-animate[data-aos="expand-col"] {
    height: 10em;
}
}



@media (max-width: 1024px){
	.site-banner .banner-content .banner-heading {
		line-height: 30px;
		font-size: 27px;
	}
	.site-banner2 .banner-content .para,
	.site-banner .banner-content .para {
		line-height: 25px;
		font-size: 20px;
	}
	.side-image-hero {
		bottom: -3rem;
		height: 8rem;
	}
	.side-image-left {
		top: 8rem;
		height: 4rem !important;
	}
	.side-image-right {
		height: 4rem;
		top: 65rem;
	}
	.site-banner2 .ban {
		bottom: 7rem;
		left: 0rem;
	}
	.site-banner2 .banner-content .banner-heading {
		line-height: 25px;
		font-size: 20px;
		display: block;
		max-width: fit-content;
	}
	img.top-image-left-hero2 {
		top: -4rem;
		left: 3rem;
		width: 8rem;
	}
	img.top-image-right-hero2 {
		right: 2rem;
		width: 12rem;
		top: -0.8rem;
	}
	img.bottom-image-hero2 {
		left: 3rem;
		bottom: -0.5rem;
		width: 10rem;
	}
}


@media (max-width: 768px){
	
.right{
    text-align: center;
}

.site-banner .ban {
    padding: 0px 0;
    bottom: 0;
    left: 0;
}
.site-banner img.responsive{ height: auto; }
.side-image-hero {
    height: 10rem;
}
.side-image-left {
    top: 12rem;
    height: 4rem !important;
}
.side-image-right{
	height: 4rem;
	top: 81rem;
}
img.top-image-left-hero2 {
    top: -3rem;
    left: 3rem;
    width: 6rem;
}
img.top-image-right-hero2 {
    right: 2rem;
    width: 10rem;
    top: -0.6rem;
}
img.bottom-image-hero2 {
    position: absolute;
    left: 3rem;
    bottom: -0.8rem;
    width: 12rem;
}

.site-banner .banner-content .banner-heading{
    font-size: 27px;
	line-height: 30px;
    text-align: left;
    margin: 10px 15px 25px;
}
.common-para{
    font-size: 16px;
}
.quote{
    font-size: 26px;
}
.head-h2{
    font-size: 28px;
}
.site-banner .banner-content .para{
    font-size: 16px;
    text-align: left;   
    margin: -14px 15px 30px;
}
.wid{
    width:100%;
}
.why-choose{
    padding: 40px 0;
}
.treatment-list{
   padding: 40px 0; 
}
.css-header-link .center{
   padding: 0px 0; 
}
.testimonial{
   padding: 40px 0; 
}
.faq{
   padding: 40px 0; 
}
.button-section {
    padding: 10px 0;
}
.counter {  
   border-right: 0px solid #fff;
   margin-bottom: 20px;
}
.center{
    text-align: center;
    width: 100%;
    margin: 10px auto;
}
.list-item{
    width: 340px;
   background:#ebe7e7;
}
.owl-carousel .owl-item img{
    height: 250px!important;
}
.owl-carousel .owl-nav button.owl-prev{
  left: 7px!important;
}
.owl-carousel .owl-nav button.owl-next{
   right: 7px!important;
}
.owl-carousel .owl-nav button.owl-next{
    padding: 0px 6px 2px!important;
}
.owl-carousel .owl-nav button.owl-prev{
    padding: 0px 6px 2px!important;
}
.faq div[data-toggle="collapse"]{
    font-size: 12px;
}
.faq .icon{
    font-size: 13px;
    width: 16px;
    height: 16px;
    line-height: 9px;
}
#btn-back-to-top{
    bottom: 80px;
}
.testimonial .card{
    height:auto;
}
.owl-carousel .owl-nav{
    display: none;
}
.frame-card{
    position:relative;
    left:0;
    background:#f1e2ea;
    width:auto;
    color:#2f2f2f;
}


.logo-img{ text-align:center;}

.css-header-link .css-col-4.right{ max-width: 100% !important; }
.css-header-link .css-row{ display: block; }
.css-header-link .css-share{ margin-right: 0px; }

header .right a {
    padding: 15px 8px 12px 8px; margin-right: 0px;
}
header .right {
    margin-top: 35px;
    float: none;
    display: inline-block;
    width: 100%;
}


#map-tab .nav-pills a{ padding:0 5px;}

#map-tab .nav-pills{ text-align:center;}


header{ padding: 15px 0 0 0; }
/*.mainhead{ display: block; }
header .left{ float: left; margin-top: 2px; width: 10%; }
header .center{ width: 80%; margin: 0 auto; }
*/
.mainhead {
		display: flex;
	}
	.logo-img img {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 15px;
		margin-left: 26px;
	}
	header .left {
		margin: auto;
		width: 20%;
	}
	header .right {
		margin: auto;
		width: 35%;
	}
	header .right a {
		padding: 5px;
		margin-right: 0px;
		font-size: 12px;
	}



.logo-img img{ width: 50%; margin: -10px 0;  text-align:center;}

.css-col-4 a{ padding: 0; }

#map-tab .tab-pane{ display: block; }

.site-banner2 .ban{ left: 30px; bottom: 0; }

.site-banner2 .banner-content .banner-heading{ font-size: 19px; }
.site-banner2 .banner-content .para{ padding: 0 90px 0 0;  font-size: 16px; font-weight: 400;}
.site-banner2 img{height: auto;}
.site-banner2 .ban{bottom: 64px;}

#map-tab .tab-pane .cos2 a{ margin: 10px 44px; display: block; }

.viewssite{ padding: 10px 50px; }

.cosread{ padding: 10px 35px; }

}

@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) {
	.visible-xs{
		display:block;
	}
	.hidden-xs {
		display: none;
	}
	.site-banner {
	   margin-bottom: 1rem;
	   margin-top: 0;
	}
	.site-banner .ban {
		bottom: 1rem;
	}
	.side-image-left {
		top: 0rem;
		height: 2rem !important;
	}
	.side-image-right {
		height: 2rem;
		top: 1rem;
	}
	.aos-animate[data-aos="expand-col"] {
		height: 6em;
	}
	.quote {
		font-size: 22px;
	}
	.head-h2{
		text-align: start;
		line-height: 30px;
	}

	img.top-image-left-hero2 {
		top: -3rem;
		left: 1rem;
		width: 6rem;
	}
	img.top-image-right-hero2 {
		right: 1rem;
		width: 12rem;
		top: -0.75rem;
	}
	.site-banner2 {
		height: auto;
	}
	img.bottom-image-hero2 {
		left: 1rem;
		bottom: -0.9rem;
		width: 15rem;
	}
	.side-image-hero {
		bottom: -3rem;
		height: 5.5rem;
	}
	img.layer2 {
		height: 320px;
		width: 100%;
	}
	.mainhead {
		display: flex;
	}
	.logo-img img {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 15px;
		margin-left: 26px;
	}
	header .left {
		margin: auto;
		width: 20%;
	}
	header .right {
		margin: auto;
		width: 35%;
	}
	header .right a {
		padding: 5px;
		margin-right: 0px;
		font-size: 12px;
	}
	.site-banner2 .ban {
		bottom: 10px;
	}
	.site-banner .banner-content .banner-heading {
		line-height: 32px;
	}
	.site-banner .banner-content .para {
		line-height: 18px;
	}
	#map-tab img {
		width: 35%;
	}
	.collapse li {
		font-size: 10px;
	}
	#map-tab .tab-pane .cos2 a {
		margin: 10px 90px;
	}
	.site-banner2 .banner-content .banner-heading {
		line-height: 22px;
		padding: 8px 12px;
		margin: 0 0 7px;
	}
	.site-banner2 .banner-content .para {
		line-height: 20px;
	}
	.spacer.spacer-mobile {
		height: 2rem;
	}
}

@media (max-width: 420px){
	#map-tab img {
		width: 35%;
	}
	.collapse li {
		font-size: 10px;
	}
	#map-tab .tab-pane .cos2 a {
		margin: 10px 70px;
	}
	.site-banner2,
	.site-banner {
		height: auto;
		margin-bottom: 3rem;
		
	}	
	.why-choose {
		padding: 10px 0 40px;
	}
	.site-banner .banner-content .banner-heading {
		line-height: 32px;
	}
	.site-banner .banner-content .para {
		line-height: 18px;
	}
	.site-banner { margin-top: 0;}
	.head-h2 {
		text-align: start;line-height: 30px;
	}
	.side-image-hero {
		bottom: -3rem;
		height: 5.5rem ;
	}
	.site-banner2 .ban,
	.site-banner .ban {
		bottom: 1rem;
	}
	.side-image-left {
		top: 0rem;
		height: 2rem !important;
	}
	.side-image-right {
		height: 2rem;
		top: 1rem;
	}
	.visible-xs{
		display:block;
	}
	.hidden-xs {
		display: none;
	}
	.aos-animate[data-aos="expand-col"] {
		height: 7em;
	}
	img.top-image-left-hero2 {
		top: -3rem;
		left: 0;
		width: 6rem;
	}
	img.top-image-right-hero2 {
		right: 0;
		width: 10rem;
		top: -0.7em;
	}
	img.bottom-image-hero2 {
		left: 1rem;
		bottom: -0.7rem;
		width: 12rem;
	}
	.mainhead {
		display: flex;
	}
	.logo-img img {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 15px;
		margin-left: 26px;
	}
	header .left {
		margin: auto;
		width: 20%;
	}
	header .right {
		margin: auto;
		width: 35%;
	}
	header .right a {
		padding: 5px;
		margin-right: 0px;
		font-size: 12px;
	}
	.site-banner2 .banner-content .banner-heading {
		line-height: 22px;
		padding: 8px 12px;
		margin: 0 0 7px;
	}
	.site-banner2 .banner-content .para {
		line-height: 20px;
	}
	.spacer.spacer-mobile {
		height: 2rem;
	}
}