 .u-section-1 {
  background-image: url("images/GSPARX-Maybank-Promotion-1280x850px-BG-new.jpg");
  background-position: 50% 69.62%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 23px auto 0 -105px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -382px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 40px 30px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 0 30px 40px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 261px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 100% 50%;
    min-height: 466px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 100% 69.62%;
  }

  .u-section-1 .u-shape-1 {
    width: 293px;
    height: 293px;
    margin-top: 13px;
    margin-left: -92px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -305px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 378px;
    height: 219px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 291px;
    height: 291px;
    margin-left: -116px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -303px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 228px;
    height: 228px;
    margin-left: -92px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -240px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 65px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 191px;
  }
} .u-section-2 {
  background-image: url("images/GSPARX-Maybank-Promotion-600x1200px-mobileBG-new2.jpg");
  background-position: 50% 100%;
}

.u-section-2 .u-sheet-1 {
  min-height: 727px;
}

.u-section-2 .u-shape-1 {
  width: 359px;
  height: 359px;
  margin: 23px auto 0 -105px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -382px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center 0px;
  margin: 60px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 23px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  background-position: 100% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 174px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-shape-1 {
    width: 293px;
    height: 293px;
    margin-top: 13px;
    margin-left: -92px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -305px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 60px 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-shape-1 {
    width: 291px;
    height: 291px;
    margin-left: -116px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 50px 0 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
    line-height: 0.6;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 400px;
    height: 232px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-shape-1 {
    width: 228px;
    height: 228px;
    margin-left: -92px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -241px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    line-height: 0.8;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 173px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1004px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 390px);
  height: 362px;
  margin: 250px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 836px;
  height: auto;
  margin: -553px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 44px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 39px auto 0;
}

.u-section-3 .u-countdown-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 8px auto 0;
  padding: 18px 76px;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.666667rem;
  text-transform: uppercase;
}

.u-section-3 .u-form-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-form-group-5 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-layout-wrap-1 {
  width: 589px;
  margin: -836px auto 64px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-layout-cell-1 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 121px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 125px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 329px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 328px;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-3 .u-group-1 {
    width: 441px;
    min-height: 875px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-3 .u-countdown-1 {
    padding: 16px 30px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 499px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1585px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 390px);
    margin-top: 243px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-top: 85px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 1px 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1505px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1727px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 390px);
    margin-top: 60px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 387px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 467px;
    margin-top: -1600px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: -52px 47px 23px auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 19px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -66px;
    margin-right: 66px;
    margin-left: 115px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 170px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -52px;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 171px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin: -66px 47px 9px 95px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1567px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 247px);
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 270px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-countdown-1 {
    padding: 14px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1487px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 27px 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-3 {
    margin: -65px 0 0 94px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 17px 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -64px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 114px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 145px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -64px;
    margin-left: 94px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 141px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 26px 20px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 4px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 3px;
    margin-bottom: 0;
    margin-left: 94px;
  }
}